{% load static i18n %}

{% trans "Download as pdf" as download %}

<div id="kulukorvaus-done">
    <img src="{% static 'images/logos/prodeko-logo-text-blue.png' %}" />
    <p>
      {% blocktrans trimmed %}
        ✅ Your reimbursement claim has been received. The claim will be processed in the next Prodeko board meeting.
        If you notice any errors in the information below, contact Prodeko's treasurer immediately at rahastonhoitaja@prodeko.org.
      {% endblocktrans %}
    </p>
    <a href="{% url 'app_kulukorvaus:download_kulukorvaus' perustiedot_id %}" class="btn btn-default mb-4" role="button">{% trans download %}</a>
</div>