{% extends "base.html" %}
{% load cms_tags sekizai_tags sass_tags %}

{% block extra_head %}
<script src="/static/js/kulukorvaus-custom.js"></script>
<link href="{% sass_src 'scss/app_kulukorvaus.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

{% trans "Add reimbursement" as add_reimbursement %}
{% trans "Submit" as submit %}

{% include "layout-components/jumbotron.html" %}

<div class="container kulukorvaus-container">

	{% include "layout-components/breadcrumb.html" %}
	{% placeholder "content" %}

  <form method="POST" novalidate enctype="multipart/form-data" id="form_kulu">
		{% csrf_token %}
		{% include "form_empty_and_management.html" %}

		<div class="forms">
			{% include "form_perustiedot.html" %}
			{% for form1 in formset_kulu %}
				{% include "form_kulukorvaus_kulu.html" with form=form1 %}
			{% endfor %}
		</div>

		<div class="my-4">
			<button type="button" data-formset-add-form class="add-kulukorvaus btn btn-default">
				<span class="mr-1 fa fa-plus"></span>
				{% trans add_reimbursement %}
			</button>
		</div>

		{% include "form_summary.html" %}

		<div class="form-group row">
		  <div class="col-sm-10">
		    <button type="submit" class="btn btn-primary my-2">{% trans submit %}</button>
		  </div>
		</div>

	</form>
</div>

{% endblock content %}
