{% load static i18n %}

{% trans "Download as pdf" as download %}

<div id="kulukorvaus-done">
    <img src="{% static 'images/logos/prodeko-logo-text-blue.png' %}" />
    <p>Kulukorvauksesi on vastaanotettu. Hakemus käsitellään seuraavassa hallituksen kokouksessa.
      Jos havaitset virheitä alla olevista tiedoista, ota välittömästi yhteys rahastonhoitajaan
      rahastonhoitaja@prodeko.org.
    </p>
    <a href="{% url 'app_kulukorvaus:download_kulukorvaus' perustiedot_id %}" class="btn btn-default mb-4" role="button">{% trans download %}</a>
</div>