{% extends "base.html" %}
{% load cms_tags sekizai_tags sass_tags i18n %}

{% block extra_head %}
<script src="/static/js/apply_for_membership-custom.js"></script>
<link href="{% sass_src 'scss/app_apply_for_membership.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

{% include "layout-components/jumbotron.html" %}

{% trans "Submit" as submit %}

<div class="container apply-container">

	{% include "layout-components/breadcrumb.html" %}
	{% placeholder "content" %}

	{% if done %}
		{% include "application_complete.html" %}
	{% else %}
		<form method="POST" novalidate enctype="multipart/form-data" id="form_apply">
			{% csrf_token %}

			{% include "form_apply.html" %}

			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary my-2">{% trans submit %}</button>
				</div>
			</div>
		</form>
	{% endif %}


</div>

{% endblock content %}