@import "variables.scss";

.auth-form {
  width: 100%;
  text-align: right;
  background-color: $blue;

  form {
    display: inline-block;
    width: 100%;
  }

  input[type="username"],
  input[type="password"],
  button[type="submit"],
  div.user-text {
    max-width: 30%;
    margin: 8px 8px 8px 0;
    padding: 8px 10px;
    font-size: 16px;
  }

  button[type="submit"] {
    color: #fff;
    background-color: $blue;
  }

  button[type="submit"]:hover {
    border-radius: 0;
    cursor: pointer;
  }

  div.user-text {
    display: inline-block;
    color: #fff;
  }
}
