@import "variables.scss";

.control-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: #fff;
  background-color: $sidebar-bg;
  border-radius: 1.5rem;
}

#menu-control-closed {
  position: fixed;
  bottom: 30px;
  left: 30px;
}

#menu-control {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

#scroll-control {
  position: fixed;
  right: 30px;
  bottom: 90px;
}
