@import "variables.scss";

#header {
  display: flex;
  align-items: center;
  justify-content: center;

  /* Full height and width */
  width: 100%;
  height: 8em;
  margin-bottom: 3em;

  /* The image used */
  background-image: url("../assets/banner.png");
  background-repeat: no-repeat;

  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;

  span {
    font-size: 2em;
  }
}
