/* === GENERAL === */

html,
body {
  height: 100%;
}

body {
  color: #1e3553;
  font-family: 'Raleway', Sans !important;
  --teksti-color: #1e3553;
  --sininen: #1e3553;
}

section {
  min-height: 100%;
  /*margin-top: -50px;*/
  padding-top: 80px;
  background-color: #fafafa;
}

/* === BACKGROUND === */

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ededed;
  background-image: url('/static/alumnirekisteri_images/Vaalea3.jpg');
  background-position: center center;
  background-size: cover;
}

/* === LOGIN PAGE === */

.login {
  color: white !important;
  text-decoration: none !important;
  background-color: transparent !important;
}

#loginform {
  padding-top: 15px;
  text-align: center;
  border-color: #ddd;
  border-top: 1px solid;
}

#login {
  background-image: url('/static/alumnirekisteri_images/search_background.jpg');
}

#btn-login {
  width: 80%;
}

.contact-info {
  margin-bottom: 5px;
  color: white;
  font-weight: lighter;
  font-size: 0.8em;
  text-align: center;
}

.contact-info a {
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  text-decoration: none;
}

/* === FRONT PAGE === */
#welcome_text {
  padding: 20px;
  color: white;
  font-size: 2em;
  text-align: center;
}

#prodeko-logo {
  width: 70%;
  min-width: 250px;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  transform: rotate(0deg);
  transition-duration: 2s;
  animation: fadein;
  animation-duration: 3s;
}

#prodeko-logo:hover {
  transform: rotate(360deg);
  transition-duration: 2s;
}

#matrikkeli-logo {
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.values {
  margin-top: 30px;
  font-weight: bolder;
  font-size: 1em;
  text-align: center;
  animation: fadein;
  animation-duration: 3s;
}

#frontpagePanel {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
}

/* === SEARCH RESULTS === */

#search {
  width: 100%;
  height: 100%;
  text-decoration: none !important;
}

#search > p {
  font-weight: bold;
}

#search-result-text {
  color: #1e3553;
  text-decoration: none;
  animation-name: fadein;
  animation-duration: 1s;
}

.search-profile-image {
  margin: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 160px;
  border: 0px;
  transition: background-size 0.5s, transform 0.5s;
}

.search-profile-card {
  animation-name: fadein;
  animation-duration: 0.5s;
}

.search-profile-card:hover .search-profile-image {
  background-size: 200px;
  /*transform: rotate(7deg);*/
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gradient-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

.bottom-gradient {
  z-index: 1;
  width: 100%;
  height: 81px;
  background: linear-gradient(transparent, grey);
  opacity: 0.5;
  animation-name: gradient-fadein;
  animation-duration: 5s;
}

.step-links {
  position: relative;
  z-index: 10;
}
.pagination {
  z-index: 10;
  margin-top: 30px;
  color: #1e3553;
  font-weight: bold;
  opacity: 1;
}

.w3-container {
  padding: 0.01em 16px;
}

.w3-left {
  float: left !important;
}

.w3-margin-right {
  margin-right: 16px !important;
}

/* === PUBLIC PROFILE === */

.public-profile-picture {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

/* === PROFILE EDIT PAGE === */

#crop-image {
  width: 100%;
  max-width: 250px;
}

.margin-pois {
  margin-bottom: 0px !important;
}

.footer-blue {
  z-index: 10;
  min-height: 50px;
  background-color: #1e3553;
}

.category-disabled .panel-body {
  opacity: 0.5;
}

.category-enabled .panel-heading {
}

.checkbox:before {
  position: absolute;
  bottom: -2px;
  left: 20px;
  width: 90%; /* or 100px */
  height: 1px;
  border-bottom: 1px dashed #ccc;
  content: '';
}

/* === BOOTSTRAP STUFF === */

.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  background-color: #1e3553;
  /*border-color: #1E3553;*/
}

.btn {
  border-radius: 4px;
}

.btn-white {
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  background-color: transparent;
  border: white solid 2px;
  border-radius: 4px;
}

.btn-white:hover {
  color: #1e3553;
  background-color: white;
  border: white solid 2px;
}

.btn-white:focus {
  color: #1e3553;
  background-color: white;
  border: white solid 2px;
}

.alert-top {
  /*position: fixed;*/
}

/* === FOOTER === */

.footer {
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.footer-fixed {
  position: fixed;
}

.footer .alert {
  position: absolute;
  top: 8px;
  left: 20px;
  padding: 3px 20px;
}

@media (min-width: 768px) {
  .footer {
    position: fixed;
  }
  .footer .alert {
    left: 50%;
    transform: translate(-50%, -0%);
  }
}

/* === NAVBAR === */
.navbar {
  z-index: 10;
  margin-bottom: 0px;
  font-size: 14px !important;
  border: none;
  border-radius: 0px;
}

.navbar-brand > img {
  height: 100%;
}

.navbar-brand {
  padding: 10px 10px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: 0px;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:visited {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #dddddd;
}
.nav-haku {
  color: white !important;
  background-color: transparent !important;
  border: solid 2px;
  border-color: white !important;
  border-radius: 4px !important;
}

.nav-haku-btn {
  padding-right: 15px;
  padding-left: 15px;
  font-weight: bold;
  background: white;
  border: white solid 1px;
  border-radius: 4px !important;
}

/* === MEMBER REQUESTS PAGE === */

.settings #table-responsive {
  padding-bottom: 20% !important;
}

/* === ADMIN VIEWS === */

.admin_search {
  z-index: 10 !important;
  margin-bottom: 20px;
  padding: 10px 0px 10px 50px;
  color: white;
  background-color: #1e3553;
  border-radius: 5px;
}

.admin_text_field {
  color: #1e3553 !important;
}

.admin_search input {
  margin-right: 10px;
  color: white;
}

.admin_search select {
  background-color: #1e3553;
  border: solid 2px;
}

.admin-export {
  z-index: -10 !important;
  margin: -25px 0px -25px 0px;
  padding: 20px 0px 40px 30px;
  color: #1e3553;
  background-color: #f2f2f2;
}

.settings-section {
  margin-top: 50px;
}

@media (max-width: 1050px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
    margin-left: -15px;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #222;
    background-color: #d9edf7;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 15px 5px 25px;
  }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover {
    color: #222;
    background-color: #d9edf7;
  }
}
