{% load cms_tags menu_tags sekizai_tags sass_tags i18n staticfiles %}

<!DOCTYPE html>
<html lang={{LANGUAGE_CODE}}>
	<head>
        {% include "login_title.html" %}
		<meta name="viewport" content="width=device-width,initial-scale=1">

		{% render_block "css" %}
		{% render_block "custom-js" %}
		{% render_block "custom-css" %}

		{% block extra_head %}{% endblock %}
	</head>
	<body>

		{% cms_toolbar %}

		{% block content %}{% endblock content %}

		{% render_block "js" %}
	</body>
</html>


{% addtoblock "custom-css" %}
    <link href="{% sass_src 'scss/prodeko-style.scss' %}" rel="stylesheet" type="text/css" />
    {% include "libraries/raleway.html" %}
    {% include "snippets/favicongenerator.html" %}
    {% include "libraries/bootstrap_scss.html" %}
    {% include "libraries/fontawesome.html" %}
{% endaddtoblock %}

{% addtoblock "custom-js" %}
    {% include "libraries/jquery.html" %}
    {% include "libraries/bootstrap.html" %}
    {% include "libraries/html5shiv.html" %}
{% endaddtoblock %}