{% extends "login_base.html" %}
{% load cms_tags sekizai_tags sass_tags i18n static %}

{% block extra_head %}
<link href="{% sass_src 'scss/auth_prodeko.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." as invalid_link %}
{% trans "Go back to the website" as backtosite_button %}
{% trans "Change password" as change_password %}

<div class="container">
    <div class="header-logo mx-auto">
        <img src="{% static 'images/logos/prodeko-logo-darkblue.png' %}" alt="Prodeko logo" height="120" width="120" hspace="10"/>
    </div>
    <div class="card login-card mx-auto">
        <div class="card-body">
            {% if validlink %}
            <h3>{{change_password}}</h3>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">{{change_password}}</button>
          </form>
          {% else %}
          <p>{{ invalid_link }}</p>
          {% endif %}
        </div>
    </div>
</div>

{% endblock content %}