{% load i18n %}

{% autoescape off %}

{% trans "You have requested a password reset for" as trans1 %}
{% trans "account at prodeko.org" as trans2 %}

<p>{{ trans1 }} {{ user.get_username }} {{ trans2 }}</p>

<br />

<div>
    <p>{% trans "Please go to the following page and choose a new password:" %}</p>
    {% block reset_link %}
    <a href="{{ protocol }}://www.{{ domain }}{% url 'auth_prodeko:password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://www.{{ domain }}{% url 'auth_prodeko:password_reset_confirm' uidb64=uid token=token %}</a>
    {% endblock %}
</div>

{% endautoescape %}