{% extends "login_base.html" %}
{% load cms_tags sekizai_tags sass_tags common_tags i18n staticfiles %}

{% block extra_head %}
<link href="{% sass_src 'scss/auth_prodeko.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." as reset_message1 %}
{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." as reset_message2 %}
{% trans "Go back to login" as backtosite_button %}

<div class="container">
    <div class="header-logo mx-auto">
        <img src="{% static 'images/logos/prodeko-logo-darkblue.png' %}" alt="Prodeko logo" height="120" width="120" hspace="10"/>
    </div>
    <div class="card mx-auto">
        <div class="card-body">
            <center>
                <p>{{ reset_message1 }}</p>
                <p> {{ reset_message2 }} </p>
                <form action="{% url 'auth_prodeko:login' %}" >
                    <button type="submit" class="btn btn-primary">{% trans backtosite_button %}</button>
                </form>
            </center>
        </div>
    </div>
</div>

{% endblock content %}