{% extends "login_base.html" %}
{% load cms_tags sekizai_tags sass_tags common_tags i18n staticfiles %}

{% block extra_head %}
<link href="{% sass_src 'scss/auth_prodeko.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

{% trans "Your password has been set. You may go ahead and Sign in now." as reset_message %}

<div class="container">
    <div class="header-logo mx-auto">
        <img src="{% static 'images/logos/prodeko-logo-darkblue.png' %}" alt="Prodeko logo" height="120" width="120" hspace="10"/>
    </div>
    <div class="card mx-auto">
        <div class="card-body">
            <center>
                <p>{{ reset_message }} </p>
            </center>
        </div>
    </div>
</div>

{% endblock content %}