{% extends "base.html" %}
{% load cms_tags sekizai_tags %}
{% block content %}

{% include "layout-components/jumbotron.html" %}

<div class="container">

	{% include "layout-components/breadcrumb.html" %}
	{% placeholder "content" %}

  {% for tiedosto in tiedosto %}
  <div class="col-md-3">
    <h3>{{ tiedosto.file_name }}</h3>
    <p>{{ tiedosto.description }}</p>
  </div>
  {% endfor %}
</div>

{% addtoblock "js" %}
<script src="/static/js/kulukorvaus-custom.js"></script>
{% endaddtoblock %}

{% endblock content %}
