.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;

  .banner-background {
    z-index: -100;
    display: block;
    height: 100%;
    background-image: url('/static/images/backgrounds/bg-blue.jpg');
    background-position: center center;
    background-size: cover;

    #banner-video {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -100;
      width: auto;
      min-width: 100%;
      height: auto;
      min-height: 100%;
      object-fit: cover;
      object-position: center bottom;
      overflow: hidden;
      background-image: url('/static/images/background/bg-blue.jpg');
      background-position: center center;
      background-size: cover;
    }
  }

  .banner-content {
    .banner-text {
      position: relative;
      z-index: 10;
      max-width: 800px;
      height: auto;
      margin: 0 auto;
      padding: 150px 10px 50px;
      color: white;
      text-align: center;
      text-shadow: 0 3px 5px black;

      @include phone {
        padding: 50px 5px 30px;

        h1 {
          font-size: 3em;
        }
      }
    }
  }
}
