{% extends "contentpage/content-page.html" %}
{% load cms_tags menu_tags thumbnail static sekizai_tags sass_tags %}

{% block extra_head %}
    <link href="{% sass_src 'scss/app_toimarit.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="container page-container">
        <div class="row">
            <div class="col-md-9">
                {% show_breadcrumb 0 "layout-components/breadcrumb.html" %}
                {% for section in sections %}
                    <div class="row">
                        <div class="col-12">
                            <h3 class="section-header">{{ section }}</h3>
                            <div class="row justify-content-center">
                                {% for official in guildofficials %}
                                    {% if official.section == section %}
                                        <div class="toimari">
                                            <img src="{{ official.photo|thumbnail_url:'toimari' }}" alt="{{ official.name }}"/>
                                            <div class="description">
                                                <strong>{{ official.name }}</strong>
                                                <br />
                                                {{ official.position }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-3">
                {% show_sub_menu 2 1 100 "layout-components/sidenav.html" %}
            </div>
        </div>
    </div>
{% endblock content %}