{% extends "contentpage/content-page.html" %}
{% load cms_tags menu_tags static sekizai_tags sass_tags %}

{% block extra_head %}
<link href="{% sass_src 'scss/app_toimarit.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
{% static "" as baseUrl %}

<div class="container page-container">
	<div class="row">
		<div class="col-md-9">

    {% include "layout-components/breadcrumb.html" %}
		{% for section in sections %}
			<div class="row">
				<div>
					<h2>{{ section }}</h2>
					<div class="row">
					{% for official in guildofficials %}
						{% if official.section == section %}
							<div class="toimari">
								{% if official.photoExists %}
									<img src="{{ baseUrl }}/images/toimari_photos/{{official.firstname}}_{{official.lastname}}.jpg" />
								{% else %}
									<img src="{% static 'images/toimari_photos/anonyymi_uniseksi_maskulinoitu.jpg' %}" />
								{% endif %}
								<div class="description">
									<strong>{{ official.name }}</strong><br />
									{{ official.position }}
								</div>
							</div>
						{% endif %}
					{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}

		</div>
		<div class="col-md-3">
			{% show_sub_menu 2 1 100 "layout-components/sidenav.html" %}
		</div>
	</div>
</div>

{% endblock content %}