prodekoorg/collected-static/
prodekoorg/app_vaalit/
prodekoorg/media

tiedotteet/backend/static/js/vendor/
tiedotteet/frontend/

alumnirekisteri/rekisteri/static/js/simple_crop.js

bootstrap.bundle.min.js
bootstrap.min.js
jquery.js
jquery.min.js
jquery.mobile.custom.min.js

venv