prodekoorg/collected-static/
prodekoorg/app_vaalit/

tiedotteet/tiedotteet_backend/static/control/
tiedotteet/tiedotteet_frontend/node_modules/
tiedotteet/tiedotteet_frontend/public/

alumnirekisteri/rekisteri/static/js/simple_crop.js

bootstrap.bundle.min.js
bootstrap.min.js
jquery.js
jquery.min.js
jquery.mobile.custom.min.js