{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order"
  ],
  "rules": {
    "at-rule-no-unknown": null,
  },
  "ignoreFiles": [
    "prodekoorg/collected-static/**",
    "prodekoorg/static/scss/bs4_scss/**", 
    "prodekoorg/static/scss/hamburgers.scss",
    "alumnirekisteri/rekisteri/static/icons/**",
    "alumnirekisteri/rekisteri/static/css/**",
    "!alumnirekisteri/rekisteri/static/css/ar_custom.css",
    "lifelonglearning/staticcss/bootstrap.min.css",
    "tiedotteet/info/static/**",
    "!tiedotteet/info/static/css/custom.css",
    "!tiedotteet/info/static/css/email.css",
    "!tiedotteet/info/static/css/sidebar.css"
  ]
}