{
  "plugins": ["stylelint-prettier"],
  "extends": [
    "stylelint-config-prettier",
    "stylelint-prettier/recommended",
    "stylelint-config-rational-order"
  ],
  "rules": {
    "prettier/prettier": true
  },
  "ignoreFiles": [
    "prodekoorg/collected-static/**",
    "prodekoorg/static/scss/bs4_scss/**", 
    "prodekoorg/static/scss/hamburgers.scss",
    "alumnirekisteri/rekisteri/static/icons/**",
    "alumnirekisteri/rekisteri/static/css/**",
    "!alumnirekisteri/rekisteri/static/css/ar_custom.css",
    "!alumnirekisteri/rekisteri/static/css/uii.css",
    "lifelonglearning/static/css/bootstrap.min.css",
    "tiedotteet/backend/static/**",
    "!tiedotteet/backend/static/css/custom.css",
    "!tiedotteet/backend/static/css/email.css",
    "!tiedotteet/backend/static/css/sidebar.css",
    "!tiedotteet/backend/static/css/palette.css"
  ]
}