version: '3.8'

services:
  postgres:
    image: postgres:14
    container_name: postgres
    environment:
      - POSTGRES_DB=prodekoorg
      - POSTGRES_USER=prodekoorg
      - POSTGRES_PASSWORD=secret

  redis:
    image: redis:6-alpine
    container_name: prodeko_org_redis

  prodeko_org:
    build: .
    container_name: prodeko_org
    entrypoint: /app/docker-entrypoint.sh
    command: uv run manage.py runserver 0.0.0.0:8000
    #volumes:
    #  - .:/app:consistent
    #  - /app/tiedotteet/frontend/public/tiedotteet
    ports:
      - '8000:8000'
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgres://prodekoorg:secret@postgres/prodekoorg
      # CI env variable is used to conditionally skip some tests in CI
      # It is set automatically if we are running inside a Github action
      - CI=${CI}


