# Django requirements
Django==2.2.9
django-appconf==1.0.3
django-audit-log==0.7.0 # Replace with django-revision
django-ckeditor==5.7.1
django-classy-tags==0.9.0
django-cms==3.7.0
django-cors-headers==3.1.0
django-filer==1.6.0
django-filter==2.2.0
django-formtools==2.1
django-js-asset==1.2.2
django-mptt==0.10.0
django-polymorphic==2.1.2
django-sekizai==1.0.0
django-treebeard==4.3
djangocms-admin-style==1.4.0
djangocms-attributes-field==1.1.0
djangocms-bootstrap4==1.5.0
djangocms-column==1.9.0
djangocms-file==2.3.0
djangocms-icon==1.4.1
djangocms-link==2.5.0
djangocms-picture==2.3.0
djangocms-snippet==2.2.0
djangocms-style==2.2.0
djangocms-text-ckeditor==3.8.0
djangocms-video==2.1.1
djangocms-page-meta==0.9.0
djangorestframework==3.10.3
django-storages==1.7.2
django-pipeline==1.6.14
django-redis-cache==2.1.0

azure==4.0.0
sentry-sdk==0.14.0

easy-thumbnails==2.6
html5lib==1.0.1
Markdown==3.1.1
mysqlclient==1.4.4
oauthlib==3.1.0
Pillow==6.2.0
PyMySQL==0.9.3
PyPDF2==1.26.0
pytz==2019.2
reportlab==3.5.26
requests==2.22.0
six==1.12.0
unicodecsv==0.14.1
uritemplate==3.0.0

# Google drive integration
google-api-python-client==1.7.11
google-auth-oauthlib==0.4.0

# SASS
libsass==0.19.2
django-compressor==2.3
django-sass-processor==0.7.3