{% load menu_tags %}

<nav aria-label="breadcrumb">
    <ul class="page-breadcrumb">
        {% for ancestor in ancestors %}
            <li>
                {% if not forloop.last %}
                    <a href="{{ ancestor.get_absolute_url }}">{{ ancestor.get_menu_title }}</a>
                    <span class="px-1">/</span>
                {% else %}
                    <span aria-current="page">{{ ancestor.get_menu_title }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
