{% load cms_tags staticfiles %}

<footer class="footer prodeko-footer">

	<div class="container network-img-container">

		<div class="row footer-frow">
			<div class="col-md">
				<h2 class="text-center font-montserrat uppercase">Prodeko Network</h2>
			</div>
		</div>

		<div class="row d-flex h-100 align-items-center">
			<div class="col-md col-6 text-center justify-content-center">
				<img src="{% static 'images/network_images/abb.svg' %}" alt="ABB">
			</div>
			<div class="col-md col-6 text-center justify-content-center">
				<img src="{% static 'images/network_images/capman.svg' %}" alt="CapMan">
			</div>
			<div class="col-md col-6 text-center justify-content-center">
				<img src="{% static 'images/network_images/fujitsu.svg' %}" alt="Fujitsu">
			</div>
			<div class="col-md col-6 text-center justify-content-center">
				<img src="{% static 'images/network_images/kone.svg' %}" alt="Kone">
			</div>
		</div>
		<div class="row d-flex h-100 align-items-center">
			<div class="col-md col-6 text-center justify-content-center">
				<img src="{% static 'images/network_images/metso.svg' %}" alt="Metso">
			</div>
			<div class="col-md col-6 text-center justify-content-center">
				<img src="{% static 'images/network_images/microsoft.svg' %}" alt="Microsoft">
			</div>
			<div class="col-md col-6 text-center justify-content-center">
				<img src="{% static 'images/network_images/neste.svg' %}" alt="Neste">
			</div>
			<div class="col-md col-6 text-center justify-content-center">
				<img src="{% static 'images/network_images/nokia.svg' %}" alt="Nokia">
			</div>
		</div>
		<div class="row d-flex h-100 align-items-center">
			<div class="col-md col-6 text-center justify-content-center">
				<img src="{% static 'images/network_images/telia.svg' %}" alt="Telia">
			</div>
			<div class="col-md col-6 text-center justify-content-center">
				<img src="{% static 'images/network_images/vaisala.svg' %}" alt="Vaisala">
			</div>
			<div class="col-md col-6 text-center justify-content-center">
				<img src="{% static 'images/network_images/smartly.svg' %}" alt="Smartly">
			</div>
			<div class="col-md col-6 text-center justify-content-center">
			</div>
		</div>
	</div>

	<div class="row footer-lrow">
		<div class="col-md-6 text-center font-montserrat">
			<h2 class="uppercase font-montserrat">Ota yhteyttä</h2>
			<p>Tuotantotalouden kilta Prodeko ry</p>
			<p><b>Postiosoite:</b><br>PL 15500<br>00076 Aalto</p>
			<p><b>Käyntiosoite:</b><br>TUAS-talo<br>Maarintie 8<br>02150 Espoo</p>
			<p><u><a href="https://docs.google.com/forms/d/e/1FAIpQLSc1ptM75jx9IUgMr6kD8puTKe4cOfrzwKO3Ae9s4nqYf17z9Q/viewform">Yhteydenottolomake</a></u></p>
		</div>
		<div class="col-md-6 text-center font-montserrat">
			<h2 class="uppercase font-montserrat">Seuraa somessa</h2>
			<p><a href="https://www.facebook.com/prodeko/"><i class="fab fa-facebook-f"></i>&nbsp;Facebook: Prodeko</a></p>
			<p><a href="https://www.linkedin.com/company/prodeko-guild-of-industrial-engineering-and-management/"><i class="fab fa-linkedin"></i>&nbsp;Linkedin: Prodeko</a></p>
			<p><a href="https://www.instagram.com/prodeko/"><i class="fab fa-instagram"></i>&nbsp;Instagram: prodeko</a></p>
			<p><i class="fab fa-snapchat-ghost"></i>&nbsp;Snapchat: prodekokilta</p>
		</div>
	</div>

</footer>
