{% load i18n menu_tags static %}

{% trans "Login" as login %}
{% trans "Log out" as logout %}
{% trans "Apply for a membership" as apply %}

<div class="container-fluid p-0">
	<nav class="navbar navbar-expand-lg navbar-light prodeko-navbar">

		<a class="navbar-brand" id="prodeko-logo" href="/"></a>
		
		<button class="navbar-toggler hamburger hamburger--squeeze" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</button>

		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav mr-auto">
				{% for child in children %}
				<li class="nav-item{% if child.selected %} active-menu-item{% endif %} mr-2"><a class="nav-link nav-top" href="{{ child.get_absolute_url }}">{{child.get_menu_title }}</a></li>
				{% endfor %}
				<!-- /end for child -->
			</ul>
			<ul class="navbar-nav">
				{% if not user.is_authenticated %}
				<li>
					<a href="{% url 'auth_prodeko:login' %}" class="btn btn-light mr-2">
						{% trans login %}
					</a>
				</li>
				<li>
					<a href="{% url 'app_apply_for_membership:apply' %}" class="btn btn-primary mr-4">
						{% trans apply %}
					</a>
				</li>
				{% else %}
				<li>
					<a href="{% url 'auth_prodeko:logout' %}" class="btn btn-primary mr-4">
						{% trans logout %}
					</a>
				</li>				
				{% endif %}
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item nav-lang">
					{# The template variable LANGUAGES is a list of tuples: [('FI', 'FINNISH'), ('EN', 'ENGLISH')]#}
					<a class="{% if LANGUAGE_CODE == 'fi' %}lang{% endif %} no-animation" href="{% page_language_url LANGUAGES.0.0 %}">{{ LANGUAGES.0.0 }}</a>
					<span>/</span>
					<a class="{% if LANGUAGE_CODE == 'en' %}lang{% endif %} no-animation" href="{% page_language_url LANGUAGES.1.0 %}">{{ LANGUAGES.1.0 }}</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
