<div id="policyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="accept-policies-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Tietosuojaseloste ja evästeiden käyttö</h5>
        </div>
        <div class="modal-body">
          <p>Hyväksy perkele</p>
        </div>
        <div class="modal-footer">
          <button id="accept_policy" type="button" class="btn btn-secondary">Accept</button>
          <button id="deny_policy" type="button" class="btn btn-primary" data-dismiss="modal">Deny</button>
        </div>
    </div>
  </div>
</div>