{% load i18n menu_tags %}

{% get_current_language as LANGUAGE_CODE %}

{% if children %}
    <ul class="nav flex-column d-none d-lg-flex" id="sidenav">
        {% for child in children %}
            {# No child pages #}
            {% if child.is_leaf_node %}
                <li class="nav-item sidenav-highlink {% if child.selected %} active{% endif %}">
                    <a class="nav-link" href="{{ child.get_absolute_url }}">{{child.get_menu_title }}</a>
                </li>
            {% endif %}

            {# Has child pages #}
            {% if not child.is_leaf_node or child.ancestor %}
                <li class="nav-item">
                    <a href="{{ child.get_absolute_url }}" class="nav-link sidenav-highlink">{{child.get_menu_title }}</a>
                    <ul class="collapse sidemenu-collapsable show">
                        {% if child.get_descendants %}
                            {% for kid in child.get_descendants %}
                                <li class="nav-item active">
                                    <a href="{{ kid.get_absolute_url }}" class="nav-link">{{kid.get_menu_title }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

