.posts-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}

.post-outline {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 8px;
  background: linear-gradient(90deg, pink, purple);
}

.post {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 300px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 1);
  background-color: black;
  box-shadow: inset 0 -50px 500px rgba(0, 0, 0, 1);
  cursor: pointer;

  &:hover .post-image {
    opacity: 0.8;
    filter: grayscale(0%);
  }

  .post-image {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    background-color: darkgrey;
    opacity: 0.5;

    filter: grayscale(80%);
    transition: filter 0.3s, opacity 0.3s;
  }

  .post-content {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    padding: 10px;

    > * {
      padding: 20px;
    }

    .post-header {
      h3 {
        margin: 0;
        padding: 0;
        font-size: 2rem;
      }
      h5 {
        margin: 5px 0 20px;
        font-weight: normal;
        font-style: italic;
      }
    }

    .post-ingress {
      padding: 0 20px;
    }

    .post-footer {
      background-color: grey;
    }
  }
}
