.post-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.banner-container {
  position: relative;
  z-index: -10;
  margin-bottom: -4rem;

  .banner {
    position: relative;
    width: 100%;
    height: auto;
    background-attachment: fixed;
  }

  .fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    );
  }
}

.post-content {
  z-index: 10;
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 1.2rem;
  line-height: 2rem;

  > * {
    margin: 0 auto;
  }
}

.post-likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: darkgrey;
  font-size: 1.2rem;

  .post-like-icon {
    margin-right: 15px;
    font-size: 1.6rem;
    cursor: pointer;
  }

  .fas {
    color: rgb(179, 0, 0);
  }
}

.post-header {
  width: 100%;
  margin-bottom: 50px;
  padding: 20px 0;

  .post-authors {
    margin: 0;
    margin-bottom: 10px;
    color: grey;
    font-style: italic;
  }

  .post-title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 10px 0;
    font-size: 3rem;
  }

  .post-details {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 10px 0 30px;
    color: grey;
    font-weight: normal;
    font-size: 0.9rem;
    font-family: 'Nunito', sans-serif;

    > * {
      margin-right: 5%;
    }

    .post-likes {
      font-size: inherit;
      .post-like-icon {
        margin-right: 10px;
        font-size: inherit;
      }
    }
  }

  .divider {
    width: 100%;
    max-width: 200px;
    margin: 20px 0 10px;
  }

  .post-ingress {
    padding-left: 20px;
    color: rgb(53, 53, 53);
    font-size: 1.3rem;
    font-style: italic;
    border-left: solid 2px whitesmoke;
  }
}

.post-body {
  width: 100%;
  max-width: 700px;
  padding: 20px 10px;
}

.post-footer {
  width: 100%;
  margin: 0;
  margin-top: 50px;
  padding: 30px 10px 100px;
  text-align: center;
  background: linear-gradient(to bottom, white, whitesmoke);
}
