@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  border: none;
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;

  @media (max-width: 450px) {
    font-size: 13px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1em;
  }
  h1 {
    font-size: 2.5em;
    &:after {
      display: block;
      width: 30%;
      max-width: 200px;
      height: 2px;
      margin-top: 20px;
      background-color: orange;
      content: '';
    }
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    margin-bottom: 0.5em;
    font-size: 1.3em;
  }

  p {
    margin: 10px 0;
  }
}

.divider {
  width: 100%;
  height: 2px;
  background-color: pink;
}

.container {
  width: 100%;
  padding: 15px;
}

.post-likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: darkgrey;
  font-size: 1.2rem;

  .post-like-icon {
    margin-right: 15px;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fas {
    color: rgb(216, 25, 0);
  }
}
