{% extends "base.html" %}
{% load cms_tags sekizai_tags i18n sass_tags static %}

{% block extra_head %}
    {% if not done and not error %}
        <script src="{% static 'js/app_contact-custom.js' %}"></script>
    {% endif %}
    <link href="{% sass_src 'scss/app_contact.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

    {% trans "Submit" as submit %}
    {% trans "Contact us" as contact %}
    {% trans "If you don't agree with Prodeko's privacy policy you can't use this online contact form. You can reach us also by regular email." as policy_not_accepted %}

    {% include "layout-components/jumbotron.html" %}

    <div class="container contact-container">
        {% if done %}
            {% include "contact_complete.html" %}
        {% elif error %}
            {% include "contact_error.html"%}
        {% else %}

            {% placeholder "content" %}

            <form method="POST" novalidate enctype="multipart/form-data" id="form_contact">
                {% csrf_token %}
                {% include "form_contact.html" %}
                <div class="row mb-4">
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary my-2">{% trans submit %}</button>
                    </div>
                    <div class="policy-container d-none col-sm-9">
                        <small id="policy-not-accepted" class="form-text text-danger">{% trans policy_not_accepted%}</small>
                    </div>
                </div>
            </form>
            
        {% endif %}
    </div>
{% endblock %}