@import '../static/scss/variables.scss';

#vaaliContainer {
  #roleDescription {
    margin-bottom: 2rem;
  }

  .vaalitQuestions {
    margin-bottom: 3rem;

    .vaalit-vastaus {

    .img-container {
      width: 5rem;
      height: 5rem;
      overflow: hidden;
      border-radius: 50%;
    }

    p.vastaus-text {
      margin-right: 5rem;
      margin-left: 1rem;
    }
  }
}

  #ehdokasName {
    font-weight: bold;
    margin-top: 1rem;
  }

  .read-application {
    margin: 0 auto;
  }

  #confirmDeleteEhdokasModal .btn,
  .vaalitQuestions .btn {
    width: 85px;
    margin-left: 1rem;
  }

  .btn {
    width: 140px;
    font-weight: 200;
  }

  .btn-xs {
    width: 90px;
    font-size: 0.7em;
  }

  .modal-lg {
    max-width: 70%;
  }

  #vaaliApplyForm {
    display: none;
  }

  #vaalitKysymysForm {
    a {
      background-color: #e7e7e7;
    }

    .fa-chevron-down {
      transition: all 0.3s ease-in-out;
    }
  }

  .vaalitKysymysList {
    .questionHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  #modalCrop .img-container img,
  #vaalitModifyApplyModal .img-container img {
    max-width: 100%;
  }

  .crop-preview,
  #vaalitModifyApplyForm .crop-preview {
    width: 100px;
    height: 0;
    overflow: hidden;
    border-radius: 50%;
  }

  .img-container img {
    display: inline;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  .vaalitQuestions small {
    font-weight: 200;
    font-size: 0.7em;
  }

  form[id^='vaalitAnswerForm_'] .btn {
    width: 150px;
  }
}

#vaaliContainer .card .img-container,
#vaalitModifyApplyForm .img-preview {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

/* Height is set to 100px in 'vaalit_custom.js' once the
 * image file is selected and cropped.
 */
#vaaliContainer
  #vaalitKysymysForm
  #btnHaeVirkaan.animate-chevron
  .fa-chevron-down {
  transform: rotate(
    -179.999deg
  ); /* For some reason there is a small wiggle if the rotation is 180 degrees */
  transition: all 0.3s ease-in-out;
}

/* Bootstrap nested list group.
 *
 * Credits: https://stackoverflow.com/questions/29063244/consistent-styling-for-nested-lists-with-bootstrap
 */

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-width: 1px 0 0 0;
  border-radius: 0;
}

.answers-container {
  background: #e8e8e8;
  margin: 0rem auto 0rem 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: #c3c3c3 1px solid;
}

a.list-group-item-action:hover {
  color: $blue-light;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.list-group-root .list-group-item .fa {
  margin-right: 5px;
}

.collapse {
  display: none;

  &.show {
    display: block;
  }
}

.list-group-root .fa-chevron-down {
  transition: all 0.3s ease-in-out;
}

.list-group-root .collapsed .fa-chevron-down {
  transform: rotate(-90deg);
  transition: all 0.4s ease-in-out;
}


.list-group-root .list-group-item.active {
  background-color: #0053a0 !important;
  border-color: #0053a0 !important;
}

.list-group-root .list-group-item.active:hover {
  color: white;
}

.list-group-root {
  .virka-name {
    font-size: 0.8em;
  }
  .virka-unread {
    font-size: 0.8em;
    color: green;
  }
}

/* MEDIA QUERIES */

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  #vaaliContainer #modalCrop button[class*='js-zoom'] {
    max-width: 50px;
  }
}
