#vaaliContainer {
  .btn {
    width: 140px;
    font-weight: 200;
  }

  .btn-xs {
    width: 90px;
    font-size: 0.7em;
  }

  .modal-lg {
    max-width: 70%;
  }
}

#vaaliContainer #confirmDeleteEhdokasModal .btn,
#vaaliContainer .vaalitQuestions .btn {
  width: 85px;
}

#vaaliContainer .card .img-container,
#vaalitModifyApplyForm .img-preview {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

#vaaliContainer .vaalitQuestions .vaalit-vastaus .img-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

/* Height is set to 100px in 'vaalit_custom.js' once the
 * image file is selected and cropped.
 */
#vaaliContainer .crop-preview,
#vaalitModifyApplyForm .crop-preview {
  width: 100px;
  height: 0;
  overflow: hidden;
  border-radius: 50%;
}

#vaaliContainer .img-container img {
  display: inline;
  margin: 0 auto;
}

#vaaliContainer #modalCrop .img-container img,
#vaalitModifyApplyModal .img-container img {
  max-width: 100%;
}

#vaaliContainer #vaalitKysymysForm a {
  background-color: #e7e7e7;
}

#vaaliContainer #vaalitKysymysForm .fa-chevron-down {
  transition: all 0.3s ease-in-out;
}

#vaaliContainer #vaalitKysymysForm #btnHaeVirkaan.animate-chevron .fa-chevron-down {
  transform:
    rotate(
      -179.999deg
    ); /* For some reason there is a small wiggle if the rotation is 180 degrees */

  transition: all 0.3s ease-in-out;
}

#vaaliContainer #vaaliApplyForm {
  display: none;
}

#vaaliContainer .vaalitQuestions small {
  font-weight: 200;
  font-size: 0.7em;
}

#vaaliContainer form[id^="vaalitAnswerForm_"] .btn {
  width: 150px;
}

/* Bootstrap nested list group.
 *
 * Credits: https://stackoverflow.com/questions/29063244/consistent-styling-for-nested-lists-with-bootstrap
 */

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-width: 1px 0 0 0;
  border-radius: 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.list-group-root .list-group-item .fa {
  margin-right: 5px;
}

.collapse {
  display: none;

  &.show {
    display: block;
  }
}

.list-group-root .fa-chevron-down {
  transition: all 0.3s ease-in-out;
}

.list-group-root .collapsed .fa-chevron-down {
  transform: rotate(-90deg);
  transition: all 0.4s ease-in-out;
}

.list-group-root .list-group-item.active {
  background-color: #0053a0 !important;
  border-color: #0053a0 !important;
}

.list-group-root .virka-name {
  font-size: 0.8em;
}

/* MEDIA QUERIES */

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  #vaaliContainer #modalCrop button[class*="js-zoom"] {
    max-width: 50px;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
