/* DOCUMENTS PAGE */

#documents-container a.btn {
	font-size: 1.5em;
	background-color: #002e7d;
	border-color: grey;
}

#documents-container .fa-chevron-down {
  transition: all 0.3s ease-in-out;
}

#documents-container .collapsed .fa-chevron-down  {
	transform: rotate(-90deg);
  transition: all 0.4s ease-in-out;
}
