/* Email styles */

h1.email {
	margin:0;
	padding:0;
	font-family: Calibri;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}

h2.email, span.email, .email-content {
	margin:0;
	padding:0;
	font-family: Calibri;
	font-size: 12px;
}

.email-content p {
	font-size: 12px;
}
