{% load i18n %}

<p><strong><span style="color: #000080;">HELLO, {{ user.first_name|upper }} {{ user.last_name|upper }} AND WARM WELCOME TO PRODEKO!</span></strong></p>
<p>&nbsp;</p>
<p>Hi, good news - your application has been accepted on this week&rsquo;s Prodeko Board Meeting. The membership is valid for one year and you will be informed when the membership has to be renewed (membership fee has to be paid). You can find your electronic member&nbsp;information here: https://matrikkeli.prodeko.org/. Please reset your password here:&nbsp;https://www.prodeko.org/fi/password_reset/ using the same email that you used when applying for Prodeko. &nbsp;</p>
<p>&nbsp;</p>
<p>Also, you can now login to the guild&rsquo;s webpage https://www.prodeko.org/ using the following credentials:</p>
<p>&nbsp;</p>
<p><strong>Email: {{ user.email }}&nbsp;</strong></p>
<p><strong>Password: {{ password }}</strong></p>
<p>&nbsp;</p>
<p>Please change your password after logging in.</p>
<p>&nbsp;</p>
<p>Below you can find some useful communication channels, check them out and join channels you feel are useful to you!</p>
<p>&nbsp;</p>
<p>Note: when registering to Prodeko events, your class of year is 1st since this is your first&nbsp;year at Prodeko. However, Prodeko master fuksis' class of year is 4th and if you already have some studies within Aalto, you'll register to the quota matching your actual year class. Pay attention to this when registering to events. You can apply to change your academic year by submitting a written request with justifications to the board (hallitus@prodeko.org). You can contact me if you have any questions. Leo Ala-laurila (Captain of Master and International Student, maisterikvkapteeni@prodeko.org) can also help with any problems you might have.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Warm welcome to Prodeko!</strong></p>
<p>&nbsp;</p>
<p><em>Daniel Nikkar </em></p>
<p><em>Minister of Media and Technology 2025 </em></p>
<p><em>Guild of Industrial Engineering and Management Prodeko ry</em></p>
<p><em> mediakeisari@prodeko.org</em></p>
<p><em>TG: @mediakeisari</em></p>
<p>&nbsp;</p>
<h3><span style="color: #002e7d;">ALL RELEVANT CHANNELS</span></h3>
<div>
<span><br /></span>
<span style="color: dimgrey;"><strong>Feedback channels</strong></span>
</div>
<ul>
    <li><span><a data-cke-saved-href="https://t.me/prodekopalautebot" href="https://t.me/prodekopalautebot" target="_blank"><span style="color: #002e7d;">ProdekoPalauteBot</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Feedback Telegram-bot</span></span></li>
    <li><span><a data-cke-saved-href="https://www.prodeko.org/fi/contact/" href="https://www.prodeko.org/fi/contact/" target="_blank"><span style="color: #002e7d;">Palauteform</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Feedback form</span></span></li>
</ul>
<div>
<span style="color: dimgrey;"><strong>Telegram</strong></span></div>
<ul>
    <li><span><a data-cke-saved-href="https://t.me/+TAbGzZgnZ3owMTBk" href="https://t.me/+TAbGzZgnZ3owMTBk" target="_blank"><span style="color: #002e7d;">General discussion</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;General discussion</span></span></li>
    <li><span><a data-cke-saved-href="https://t.me/prodekotiedotus" href="https://t.me/prodekotiedotus" target="_blank"><span style="color: #002e7d;">Prodeko Information Channel</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Prodeko Information Channel</span></span></li>
    <li><span><a data-cke-saved-href="https://t.me/+6Cn9fnmJDutiZjM8" href="https://t.me/+6Cn9fnmJDutiZjM8" target="_blank"><span style="color: #002e7d;">Prodeko Events</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Prodeko Events</span></span></li>
    <li><span><a data-cke-saved-href="https://t.me/prodekojobs" href="https://t.me/prodekojobs" target="_blank"><span style="color: #002e7d;">Open job positions</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Open job positions</span></span></li>
    <li><span><a data-cke-saved-href="http://t.me/ESTIEMLGHelsinki" href="http://t.me/ESTIEMLGHelsinki" target="_blank"><span style="color: #002e7d;">t.me/ESTIEMLGHelsinki</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;ESTIEM related discussion</span></span></li>
    <li><span><a data-cke-saved-href="https://t.me/joinchat/B3X6txJSkQUWnsZhFF_JnQ" href="https://t.me/joinchat/B3X6txJSkQUWnsZhFF_JnQ" target="_blank"><span style="color: #002e7d;">Prodekon opintosetit</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Discussion related to IEM studies at Aalto</span></span></li>
    <li><span><a data-cke-saved-href="https://t.me/aTalent_IT" href="https://t.me/aTalent_IT" target="_blank"><span style="color: #002e7d;">aTalent IT-jobs</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Open IT job positions posted to Telegram by aTalent</span></span></li>
</ul>
<div>
<span style="color: dimgrey;"><strong>Calendars</strong></span><br />
<ul dir="ltr">
    <li><span><a data-cke-saved-href="https://calendar.google.com/calendar/embed?src=4j6ircv0qosvgfk66588an88n8%40group.calendar.google.com&amp;ctz=Europe%2FHelsinki" href="https://calendar.google.com/calendar/embed?src=4j6ircv0qosvgfk66588an88n8%40group.calendar.google.com&amp;ctz=Europe%2FHelsinki"><span style="color: #002e7d;">Prodeko - Parties</span></a></span></li>
    <li><span><a data-cke-saved-href="https://calendar.google.com/calendar/embed?src=a440frd2hhop84nhvesq3krijc%40group.calendar.google.com&amp;ctz=Europe%2FHelsinki" href="https://calendar.google.com/calendar/embed?src=a440frd2hhop84nhvesq3krijc%40group.calendar.google.com&amp;ctz=Europe%2FHelsinki"><span style="color: #002e7d;">Prodeko - Excursions</span></a></span></li>
    <li><span><a data-cke-saved-href="https://calendar.google.com/calendar/embed?src=ekm75qbnvm91a45rs2q5p2edok%40group.calendar.google.com&amp;ctz=Europe%2FHelsinki" href="https://calendar.google.com/calendar/embed?src=ekm75qbnvm91a45rs2q5p2edok%40group.calendar.google.com&amp;ctz=Europe%2FHelsinki"><span style="color: #002e7d;">Prodeko - Freshmen</span></a></span></li>
    <li><span><a data-cke-saved-href="https://calendar.google.com/calendar/embed?src=jgqf5u162heo7vgkgddq90d68s%40group.calendar.google.com&amp;ctz=Europe%2FHelsinki" href="https://calendar.google.com/calendar/embed?src=jgqf5u162heo7vgkgddq90d68s%40group.calendar.google.com&amp;ctz=Europe%2FHelsinki"><span style="color: #002e7d;">Prodeko - Foreign affairs</span></a></span></li>
    <li><span><a data-cke-saved-href="https://calendar.google.com/calendar/embed?src=webmaster%40prodeko.org&amp;ctz=Europe%2FHelsinki" href="https://calendar.google.com/calendar/embed?src=webmaster%40prodeko.org&amp;ctz=Europe%2FHelsinki"><span style="color: #002e7d;">Prodeko - General</span></a></span></li>
    <li><span><a data-cke-saved-href="https://calendar.google.com/calendar/embed?src=miqv1ra1mb1878p9d5766i8a7g%40group.calendar.google.com&amp;ctz=Europe%2FHelsinki" href="https://calendar.google.com/calendar/embed?src=miqv1ra1mb1878p9d5766i8a7g%40group.calendar.google.com&amp;ctz=Europe%2FHelsinki" target="_blank"><span style="color: #002e7d;">PoRa</span></a></span></li>
</ul>
</div>
<div>
<span style="color: dimgrey;"><strong>Social media</strong></span></div>
<ul>
    <li><span><span style="color: dimgrey;">FB -&nbsp;</span><a data-cke-saved-href="https://www.facebook.com/prodeko/" href="https://www.facebook.com/prodeko/" target="_blank"><span style="color: #002e7d;">Prodeko&nbsp;facebook-page</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Official Facebook page of Prodeko</span></span></li>
    <li><span><span style="color: dimgrey;">FB -&nbsp;</span><a data-cke-saved-href="https://www.facebook.com/groups/292021827579263/" href="https://www.facebook.com/groups/292021827579263/" target="_blank"><span style="color: #002e7d;">Prodeko yleistä häröilyä</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Unofficial, internal discussion</span></span></li>
    <li><span><span style="color: dimgrey;">FB -&nbsp;</span><a data-cke-saved-href="https://www.facebook.com/groups/806063266173103" href="https://www.facebook.com/groups/806063266173103" target="_blank"><span style="color: #002e7d;">Prodeko jobs</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Prodeko job postings</span></span></li>
    <li><span><span style="color: dimgrey;">LinkedIn -&nbsp;</span><a data-cke-saved-href="https://www.linkedin.com/company/prodeko-guild-of-industrial-engineering-and-management/" href="https://www.linkedin.com/company/prodeko-guild-of-industrial-engineering-and-management/" target="_blank"><span style="color: #002e7d;">Prodeko</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Official LinkedIn page of Prodeko</span></span></li>
    <li><span><span style="color: dimgrey;">LinkedIn -&nbsp;</span><a data-cke-saved-href="https://www.linkedin.com/company/prodeko-ventures" href="https://www.linkedin.com/company/prodeko-ventures" target="_blank"><span style="color: #002e7d;">Prodeko Ventures</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Official LinkedIn page of Prodeko Ventures</span></span></li>
    <li><span><span style="color: dimgrey;">IG -&nbsp;</span><a data-cke-saved-href="https://www.instagram.com/prodeko/" href="https://www.instagram.com/prodeko/" target="_blank"><span style="color: #002e7d;">Prodeko Instagram</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Official Instagram account of Prodeko</span></span></li>
    <li><span><span style="color: dimgrey;">IG -&nbsp;</span><a data-cke-saved-href="https://www.tiktok.com/@prodekolife?_t=8pFr7zv9tDt&_r=1" href="https://www.tiktok.com/@prodekolife?_t=8pFr7zv9tDt&_r=1" target="_blank"><span style="color: #002e7d;">Prodeko TikTok</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Official TikTok account of Prodeko</span></span></li>
</ul>
<div>
<span style="color: dimgrey;"><strong>Sport (PoRa)</strong></span></div>
<ul>
    <li><span><a data-cke-saved-href="https://www.facebook.com/Polyteknikkojenraittiusseura " href="https://www.facebook.com/Polyteknikkojenraittiusseura" target="_blank"><span style="color: #002e7d;">Polyteknikkojen Raittiusseura</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Official Facebook page of PoRa</span></span></li>
    <li><span><a data-cke-saved-href="http://pora.nimenhuuto.com" href="http://pora.nimenhuuto.com/" target="_blank"><span style="color: #002e7d;">pora.nimenhuuto.com</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Signup to play in the Unisport leagues that PoRa participates in. User:&nbsp;<strong>pora&nbsp;</strong>password:&nbsp;<strong>Vichy</strong></span></span></li>
    <li><span><span style="color: dimgrey;">FB -&nbsp;</span><a data-cke-saved-href="https://www.facebook.com/groups/223070147807881/" href="https://www.facebook.com/groups/223070147807881/" target="_blank"><span style="color: #002e7d;">Sporttia with PoRa</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Information about PoRa sporting events on facebook</span></span></li>
    <li><span><span style="color: dimgrey;">TG -&nbsp;</span><a data-cke-saved-href="https://t.me/SporttiaWithPoRa" href="https://t.me/SporttiaWithPoRa" target="_blank"><span style="color: #002e7d;">Sporttia with PoRa</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;General Discussion</span></span></li>
    <li><span><span style="color: dimgrey;">TG -&nbsp;</span><a data-cke-saved-href=" https://t.me/raittiusseura" href=" https://t.me/raittiusseura" target="_blank"><span style="color: #002e7d;">Raittiussanomat</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Information about PoRa sporting events on Telegram</span></span></li>
    <li><span><span style="color: dimgrey;">TG -&nbsp;</span><a data-cke-saved-href="https://t.me/joinchat/D0VOh076qqPigdZ8Yic_Tg" href="https://t.me/joinchat/D0VOh076qqPigdZ8Yic_Tg" target="_blank"><span style="color: #002e7d;">Volleyball</span></a></span></li>
    <li><span><span style="color: dimgrey;">TG -&nbsp;</span><a data-cke-saved-href="https://t.me/joinchat/D0VOh0o-dBHQlV6PU3JwUw" href="https://t.me/joinchat/D0VOh0o-dBHQlV6PU3JwUw" target="_blank"><span style="color: #002e7d;">Basketball</span></a></span></li>
    <li><span><span style="color: dimgrey;">TG -&nbsp;</span><a data-cke-saved-href="https://t.me/joinchat/D0VOh0jlsOxSWvhUcc5YnQ" href="https://t.me/joinchat/D0VOh0jlsOxSWvhUcc5YnQ" target="_blank"><span style="color: #002e7d;">Floorball</span></a></span></li>
    <li><span><span style="color: dimgrey;">TG -&nbsp;</span><a data-cke-saved-href="https://t.me/joinchat/D0VOh0clkbtFwMz29TGnnA" href="https://t.me/joinchat/D0VOh0clkbtFwMz29TGnnA" target="_blank"><span style="color: #002e7d;">Football &amp; Futsal</span></a></span></li>
    <li><span><span style="color: dimgrey;">TG -&nbsp;</span><a data-cke-saved-href="http://tiny.cc/PoRaSKI" href="http://tiny.cc/PoRaSKI" target="_blank"><span style="color: #002e7d;">Skiing</span></a></span></li>
    <li><span><span style="color: dimgrey;">TG -&nbsp;</span><a data-cke-saved-href="http://tiny.cc/PoRaUJ" href="http://tiny.cc/PoRaUJ" target="_blank"><span style="color: #002e7d;">Icehockey</span></a></span></li>
</ul>
<div>
<span style="color: dimgrey;"><strong>Prodeko's websites</strong></span><br />
<ul>
    <li><span><a data-cke-saved-href="https://prodeko.org" href="https://prodeko.org/" target="_blank"><span style="color: #002e7d;">prodeko.org</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Official website of Prodeko</span></span></li>
    <li><span><a data-cke-saved-href="https://ilmo.prodeko.org" href="https://ilmo.prodeko.org/" target="_blank"><span style="color: #002e7d;">ilmo.prodeko.org</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Prodeko event signup</span></span></li>
    <li><span><a data-cke-saved-href="https://gallery.prodeko.org/" href="https://gallery.prodeko.org/" target="_blank"><span style="color: #002e7d;">gallery.prodeko.org</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Prodeko gallery</span></span></li>
    <li><span><a data-cke-saved-href="https://tiedotteet.prodeko.org" href="https://tiedotteet.prodeko.org/" target="_blank"><span style="color: #002e7d;">tiedotteet.prodeko.org</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Prodeko information website</span></span></li>
    <li><span><a data-cke-saved-href="https://proleko.prodeko.org/" href="https://proleko.prodeko.org/" target="_blank"><span style="color: #002e7d;">proleko.prodeko.org</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Prodeko guild magazines as pdf's</span></span></li>
</ul>
</div>
<div>
<span style="color: dimgrey;"><strong>Otaniemi</strong></span><br />
<ul>
    <li><span><a data-cke-saved-href="http://varjoopintoopas.fi/" href="http://varjoopintoopas.fi/" target="_blank"><span style="color: #002e7d;">Varjo-opinto-opas</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Unofficial reviews of Aalto courses</span></span></li>
    <li><span><a data-cke-saved-href="http://t.me/otaniemi" href="http://t.me/otaniemi" target="_blank"><span style="color: #002e7d;">TG #otaniemi telegram-ryhmä</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Otaniemi general discussion on telegram</span></span></li>
    <li><span><a data-cke-saved-href="https://t.me/annetaantavaraa" href="https://t.me/annetaantavaraa" target="_blank"><span style="color: #002e7d;">TG Giving away free stuff - otaniemi</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Otaniemi giving away free stuff</span></span></li>
    <li><span><a data-cke-saved-href="https://t.me/AYYadvocacy" href="https://t.me/AYYadvocacy" target="_blank"><span style="color: #002e7d;">TG AYY edunvalvonta</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;AYY student advocacy related discussion</span></span></li>
    <li><span><a data-cke-saved-href="https://www.facebook.com/groups/AYYEvents/" href="https://www.facebook.com/groups/AYYEvents/" target="_blank"><span style="color: #002e7d;">FB AYY tapahtumat</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Information about AYY events</span></span></li>
    <li><span><a data-cke-saved-href="https://www.facebook.com/groups/teekkarikyla/" href="https://www.facebook.com/groups/teekkarikyla/" target="_blank"><span style="color: #002e7d;">FB teekkarikylä</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Otaniemi facebook group</span></span></li>
    <li><span><a data-cke-saved-href="https://www.facebook.com/groups/teekkarikylamarkkinat/" href="https://www.facebook.com/groups/teekkarikylamarkkinat/" target="_blank"><span style="color: #002e7d;">FB teekkarikylän markkinat</span></a><span style="color: dimgrey;">&nbsp;~&nbsp;Otaniemi buy sell exchange</span></span></li>
</ul>
<span><br /></span>
<em><span>Is the list missing some link, discussion or calendar? Hint mediakeisari@prodeko.org via email about it!</span></em></div>
<br />
