{% load i18n %}

<p><strong>J&auml;senhakemuksen tiedot:</strong></p>
<p>Nimi: {{ user.name }}</p>
<p>S&auml;hk&ouml;posti: {{ user.email }}</p>
<p>Opiskeluala: {{ user.field_of_study }}, aloitusvuosi: {{ user.start_year }}</p>
<p>Kotikaupunki: {{ user.hometown }}</p>
<p>J&auml;sentyyppi: {{ user.get_membership_type_display }}</p>
<p>{% if user.additional_info|length > 0 %}</p>
<p>Muuta: {{ user.additional_info }}</p>
<p>{% endif %}</p>
<p>&nbsp;</p>
<p>https://www.prodeko.org/fi/admin/app_membership/pendinguser/{{ user.id }}/change/ - Hyv&auml;ksy tai hylk&auml;&auml; hakemus t&auml;st&auml;. Hyväksytylle hakijalle l&auml;hetet&auml;&auml;n s&auml;hk&ouml;postilla k&auml;ytt&auml;j&auml;tunnus ja salasana prodeko.orgiin. Sama tunnus käy matrikkeliin.</p>