<p>Hello, {{ user.first_name }} {{ user.last_name }}!</p>
<p>&nbsp;</p>
<p>Your application to join Prodeko has been rejected. This can be due to lack of membership payment receipt. If you want to try another time or are not sure why your joining application got rejected, please send an email to <a href="mailto:mediakeisari@prodeko.org">mediakeisari@prodeko.org</a>.<span class="Apple-converted-space">&nbsp;</span></p>
<p>&nbsp;</p>
<p><em>Jenni Palukka</em></p>
<p><em>Minister of Media and IT 2024</em></p>
<p><em>Guild of Industrial Engineering and Management Prodeko ry</em></p>
<p><em>mediakeisari@prodeko.org</em></p>
<p><em>TG: @mediakeisari</em></p>
<p>&nbsp;</p>
