{% load i18n sekizai_tags %}

<div class="mb-5">
  <h1 class="mb-4">VAALIT OVAT TÄÄLLÄ!</h1>
  <p>Vaalijännä kasvaa kasvamistaan, mutta hetki pitää vielä odottaa platan varsinaista aukeamista. Alla kuitenkin
    tärkeimmät aikataulut,
    joista lisäinfoa Iiron lähettämässä mailissa (puheenjohtaja@prodeko.org)</p>
  <h4>Vaaliajan tapahtumat</h3>
    <ul>
      <li>Ma 28.10. klo 16.00-17.00 Hallitusinfo (UUSI, ks. maili lisätiedoista), TU7-sali, Maarintie 8</li>
      <li>Ti 30.10. klo 17.15-20:00 Vaalikokous I, TU2-sali, Maarintie 8</li>
      <li>Ti 5.11. klo 15:00-17:00 Vaalipaneeli, kiltis, Maarintie 8</li>
      <li>Ke 6.11. klo 17:15-20:00 Toimariesittely, Atrium, Maarintie 8</li>
      <li>Ke 13.11. klo 16:15-22.00 Vaalikokous II, TU2-sali, Maarintie 8</li>
    </ul>

    <br><br>

    <h1 class="mb-4">ELECTIONS ARE HERE!</h1>
    <p>Excitement for the elections keeps on growing but you'll have to wait just a bit longer for this election forum
      to
      fully open. Here's just a quick recap of the election time events. More info can be found on the email sent by
      Iiro
      (puheenjohtaja@prodeko.org)</p>
    <h4>Election time events</h3>
      <ul>
        <li>Mon 28.10. at 16.00-17.00 Board info, TU7-hall, Maarintie 8</li>
        <li>Tue 30.10. at 17.15-20:00 Election meeting I, TU2-hall, Maarintie 8</li>
        <li>Tue 5.11. at 15:00-17:00 Elections panel, Guildroom, Maarintie 8</li>
        <li>Wed 6.11. at 17:15-20:00 Guild official info, Atrium, Maarintie 8</li>
        <li>Wed 13.11. at 16:15-22.00 Election meeting II, TU2-hall, Maarintie 8</li>
      </ul>
</div>