{% load i18n %}

{% load sekizai_tags %}

<div style="margin-bottom: 6rem;">
<h1 style="margin-bottom: 2rem;">Yleistä killan vaaleista</h1>
<p>Tuotantotalouden kilta Prodeko Ry valitsee hallituksen sekä toimihenkilöt vuodelle 2020 vaalikokouksessaan. Vaalikokouksen ensimmäisessä osassa 5.11.2019 klo 16:15 TUAS-talon salissa TU1 hyväksytään killtan organisaatiorakenne sekä valitaan vuoden 2020 puheenjohtaja. Vaalikokouksen toisessa osassa valitaan loput hallituslaiset ja toimihenkilöt seuraavalle vuodelle.</p>

<p>Prodekon toiminta perustuu täysin vapaaehtoistoimintaan. Siksi onkin tärkeää killalle, että saamme motivoituneita, innostuneita sekä aktiivisia vapaaehtoisia tekemään yhteisössämme entistä parempi.</p>

<p>Näiden sivujen tarkoituksena on tiedottaa ja esitellä killan toimintaa sekä mahdollistaa hakeminen killan hallitus- ja toimihenkilövirkoihin. Jokaiselle viralle on tehty oma lankansa, jossa on tarkempaa informaatiota tehtävästä. Asetut ehdolle virkaan kirjoittamalla itsestäsi lyhyen esittely- ja hakutekstin kyseisen viran sivulle. Kiltalaisilla on mahdollisuus esittää hakijoille kysymyksiä. Kysymysten tarkoitus on tehdä hakijasta vähän tutumpi sekä avata vähän heidän mietteitään virkaa ja sen sisältämiä tehtäviä kohtaan.</p>

<p>Jos nykyisestä toimijarakenteesta ei löydy juuri sitä oikeaa virkaa sinulle, olemme tehneet langan yleiselle keskustelulle, jossa on mahdollista ehdottaa vaikka uusia virkoja killan toimintaan.</p>

<p>Mikään virka ei ole etukäteen jaettu ja kaikki ovat samalla viivalla. Yksikään killan virka ei vaadi aikaisempaa kokemusta tai osaamista aiheesta (fun fact, aikaisemmalla kokemuksella ja menestyksellä uudessa virassa ei ole mitään korrelaatiota. Lisää infoa hallitus- ja toimariviroista voit lukea killan nettisivuilta). Motivaatio ja vilpitön innostus ovat tärkeintä killan toiminnassa ja kuka tahansa fuksista fabuun voivat osallistua mihin tahansa killan funktioon.</p>

<p>Kiltatoiminta on ainutlaatuista sen yhdistäessä matalan kynnyksen, hyvät tyypit sekä mahdollisuudet henkilökohtaiseen kasvuun ja kehitykseen. Kiltatoiminnan tehtävänä on luoda Prodekosta parempi yhteisö ja prodekolaisista parempia ihmisiä. Kilta pystyy tarjoamaan vastuuta ja vapauksia siinä, missä harva yritys tai yliopistokoulutus pyrkii enemmänkin työntämään kaikki samasta muotista. </p>

<p><strong>*Vaalipaneeli torstaina 14.11 klo 15 alkaen kiltahuoneella*</strong></p>

<p>Killan vaalipaneelin tehtävänä on tarjota tilaisuus kaikille hallitus- ja toimarihakijoille treenaamaan hakemista sekä saamaan inspiraatiota hakemiseen killan toimintaan. Tapahtuman kynnys osallistua on matalin mahdollinen ja kaikki kiltalaiset ovat tervetulleita osallistumaan joko esiintymisen, kysymysten kysymisen tai vain kuuntelun muodossa. Killan hallitus on paikalla tarjoamassa tukeaan ja apuaan hakijoille ja hakemisesta kiinnostuneille. Se on siten myös hyvä paikka kysellä hallituslaisilta suoraan hakemisesta ja killan toiminnasta.</p>

<p>Kiltatoiminta avaa erinomaiset mahdollisuudet tutustua laajasti muihin opiskelijoihin, kouluun ja yrityksiin, hankkia unohtumattomia kokemuksia, oppia uusia taitoja, piristää CV:tä, toteuttaa upeita projekteja, kasvaa ihmisenä ja ennen kaikkea tehdä opiskeluajasta elämäsi parasta aikaa! Älä siis epäröi, vaan lähde rohkeasti mukaan!</p>

<h2 style="margin-top: 2rem;">Hakijan tehtävälista</h2>
<ul>
<li>Tutustu killan toimijarakenteeseen ja virkoihin</li>
<li>Tutustu Prodekon vapaaehtoistoiminnan periaatteisiin</li>
<li>Kysele haluessasi vanhoilta toimijoilta ja hallitukselta virasta</li>
<li>Asetu ehdolle foorumilla</li>
<li>Saavu paikalla vaalipaneelin kertomaan omista ajatuksistasi ja treenaamaan pitchausta</li>
<li>Tule paikalle molempiin vaalikokouksen osiin ja vaikuta </li>
</ul>

<p>Mikään pakko ei ole hakea mihinkään virkaan etukäteen ennen vaalikokouksia. Voit asettua ehdolle siinä vaiheessa kun kyseisen viran ehdokasasettelu alkaa.</p>

<p style="margin-bottom: 2rem;">Jos tulee mitään kysymyksiä tai ajatuksia liittyen killan vaaleihin, älä epäröi ottaa yhteyttä minuun (puheenjohtaja@prodeko.org tai telegramissa @KinnusNiko), tai killan hallitukseen hallitus@prodeko.org. Jos foorumin käytöstä tai toimivuudesta tulee kysyttävää, niin ota yhteyttä killan CTO:hon Kalle Hiltuselle (cto@prodeko.org tai telegramissa @KaivuriKalle).
</p>
<hr />

<h2 style="margin-top: 2rem; margin-bottom: 2rem;">Prodekon vapaaehtoistoiminnan periaatteet</h2>

<p>Prodekon toiminta perustuu vapaaehtoisuuteen. Se tarkoittaa sitä, että kilta tarjoaa vapauden toimijoille toteuttaa tehtäväänsä itselleen parhaalla mahdollisella tavalla. Se tarkoittaa myös sitä, että meillä ei ole suurta HR-koneistoa tai henkilökohtaisia kehityspolkua ja -suunnitelmia. Vapauden mukana tulee myös vastuu: jos sinä et pysty hoitamaan tehtävääsi killassa tai siirrettyä vastuuta jollekin muulle, kukaan ei myöskään tule hommia tekemään puolestasi.

<p style="margin-bottom: 3rem;">Alla oleva listaus on katsaus siihen, mitä kilta tarjoaa ja odottaa vapaaehtoisiltaan.

<h3 style="margin-bottom: 2rem;">Mitä Prodeko tarjoaa vapaaehtoisilleen?</h3>
<ul>
<li><strong>Ainutlaatuinen prodekolainen yhteisö</strong>. Jokainen prodekolainen on kunnianhimoinen, aktiivinen ja motivoitunut tekemään maailmasta paremman paikan. Harvassa yhteisössä tässä planeetassa on samanlaista positiivista kehityskeskeisyyttä ja halua parantaa sitä, mitä jo on. Kukaan ei työskentele tässä yhteisössä tyhjiössä, vaan ympärillä on aina tiimi, joka tukee, auttaa sekä tsemppaa. Prodekossa kukaan ei ole yksin.</li>
<li><strong>Resurssit mahtavuuden tavoitteluun</strong>. Kilta tarjoaa sinulle rahallista, henkistä ja sosiaalista tukea, jotta pystyisit totetuttamaan suunnitelmasi. Osaamme ohjata sinut juttelemaan oikeiden tyyppien kanssa ja tarjoamaan luottamusta, jotta pääset toteuttamaan niitä asioita, joita lähdet tekemään. Killassa olet oikeutettu saamaan palautetta toiminnastasi ja kehittyä sen mukaan. Killassa on myös täysin ok epäonnistua ja oppia niistä :).</li>
<li><strong>Toimareiden virkistys</strong>. Kilta tarjoaa toimareilleen kivoja tapahtumia ja virkistäytymismahdollisuuksia. Kaikille toimaritiimeille on varattu killan budjetissa rahaa hauskanpidolle sekä toimareille yhteisesti järjestetään tapahtumia, kuten esimerkiksi toimarivaihto.</li>
<li><strong>Yhdenvertaisuus ja hyvinvointi</strong>. Kiltatoiminnan tulee olla hauskaa ja kehittävää kaikille. Sen ei tule vahingoittaa hyvinvointia tai terveyttä, vaan vuoden jälkeen sinulla tulisi olla oppimiskokemuksia, ihania elämyksiä ja intoa seuraavia haasteita varten. Jokainen kiltalainen on oikeutettu kunnioittavaan kohteluun sekä toiminnassa tulee olla täysi läpinäkyvyys.</li>
</ul>
<h3 style="margin-bottom: 2rem; margin-top: 2rem;">Mitä Prodeko odottaa vapaaehtoisiltaan?</h3>
<ul>
<li><strong>Sitoutumista vuoden työhön</strong>. Jos lähdet toimariksi tai hallituslaiseksi niin odotamme, että pystyt kantamaan tehtäväsi vastuun koko sen keston ajan. Se tarkoittaa, että joko itse suoritat tehtävää tai saat jonkun delegoitua hoitamaan homman.</li>
<li><strong>Seuraajan perehdyttäminen ja tsemppaaminen</strong>. Kun vuotesi lähestyy loppuaan ja uusi kaveri on valittu sinun seuraajaksesi, tulee sinun kouluttaa hänet, jotta vuoden vaihtuessa hän tietää, mitä hänen vastuulleen kuuluu. Toivomme, että pystyt antamaan seuraajallesi hyviä neuvoja ja vinkkejä, esimerkiksi kirjoitetun testamentin avulla. Sinä olet vastuussa, että vuoden aikana tehty työsi ei mene hukkaan.</li>
<li><strong>Proaktiivinen viestintä</strong>. Vapaaehtoistoiminnassa sisäinen viestintä on hankalaa, kun ei ole yhteistä fyysistä toimistoa tai työaikaa. Tämä tarkoittaa, että toivomme sinulta aktiivista viestintä tiimillesi, hallitukselle ja killalle yleisesti siitä, mitä onnistumisia, oppeja, haasteita tai kehitysideoita sinulla on. </li>
<li><strong>Kaverista huolehtiminen</strong>. Kukaan ei ole killassa yksin ja jokaisen vastuulla on luoda kunnioittavaa ja toisista huolehtivaa ilmapiiriä.</li>
</ul>
</div>