<h2 class="py-3" id="header">{{ virat.0.name }}</h2>
<div id="vaaliKysymysForm">
  {% include "vaalit_question_form.html" %}
</div>
<div id="vaaliApplyForm" style="{{style_vaaliApplyForm}}">
  {% include "vaalit_apply_form.html" %}
</div>
<div id="vaaliContent" class="tab-content">
  {% for virka in virat %}
  <div id="_{{ forloop.counter }}" class="tab-pane fade{% if forloop.first %} active show{% endif %}" role="tabpanel">
    <h3>Ehdokkaat</h3>
    <div class="card-group">
    {% for ehdokas in virka.ehdokkaat.all %}
      {% include "vaalit_ehdokas_card.html" %}
    {% empty %}
      <p>Ei hakijoita</p>
    {% endfor %}
    </div>
    {% include "vaalit_question_list.html" %}
  </div>
  {% endfor %}
</div>

{% include "vaalit_modal_delete_ehdokas.html" %}
{% include "vaalit_modal_photocrop.html" %}
