{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags sass_tags staticfiles %}
{% page_attribute "page_title" "Prodeko Vaalit" %}

{% block extra_head %}
<script src="{% static 'js/app_vaalit-custom.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.css" rel="stylesheet">
<link href="{% sass_src 'scss/app_vaalit.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

{% include "layout-components/jumbotron_small.html" %}

<div id="vaaliContainer" class="container-fluid">

	{% placeholder "content" %}

	<div class="row">
	  <div class="col-md-2 col-12">
			{% include "vaalit_nav.html" %}
		</div>
		<div class="col-md-8 col-12">
			{% include "vaalit_content.html" %}
		</div>
	</div>
</div>

{% endblock content %}
