<form action="" method="POST" class="collapse" id="vaalitAnswerForm_{{ forloop.counter }}">
  {% csrf_token %}
  <div class="form-group row">
    <div class="col-lg-6 col-sm-12">
      <textarea name="answer" rows="3" id="id_answer" class="form-control" required=""></textarea>
      {% if context.form_kysymys.question.errors %}
        <small class="form-text text-danger">{{ context.form_kysymys.question.errors.as_text }}</small>
      {% endif %}
    </div>
  </div>
  <div class="form-group">
    <input type="hidden" class="input-question" name="hidden-input-kysymys" value="{{kysymys.id}}"/>
    <button name="submitVastaus" type="submit" class="btn btn-primary my-1">Lähetä vastaus</button>
  </div>
</form>
