<!-- Confirm delete Ehdokas modal -->
<div class="modal fade" id="confirmDeleteEhdokasModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center pb-0">
        <p><strong>Haluatko varmasti poistaa hakemuksesi?</strong></p>
      </div>
      <div class="modal-footer m-auto">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Sulje</button>
        <form id="formDeleteEhdokas" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-times mr-2"></i>Poista</button>
        </form>
      </div>
    </div>
  </div>
</div>
