{% load i18n %}

{% trans "Answer" as answer %}
{% trans "Answers" as answers %}
{% trans "Remove" as remove %}
{% trans "Edit" as edit %}

{% load sekizai_tags %}
<li id="kysymys_{{ question.pk }}" class="list-group-item align-items-start mb-2 no-border">
  <a href="#vastaukset_{{ question.pk }}" class="list-group-item list-group-item-action questionBox" data-bs-toggle="collapse" aria-expanded="false" aria-controls="vastaukset_1">
    <div class="row">
      <div class="col-md-12 pl-0 ml-2">
        <div class="questionHeader">
          <p class="my-2"><strong>{{ question.question }}</strong></p>
        </div>
        <div class="questionFooter">
          <div class="col-6 flex-column QuestionAskerContainer">
            {% if question.created_by %}
              <small class="mb-0">
                <em>{{ question.created_by.first_name }} {{ question.created_by.last_name }}</em>
              </small>
              <br />
            {% endif %}
            <small class="hidden-mobile">{{ question.created_at|timesince }} sitten</small>
          </div>
          <div class="answersCountContainer">
            <p class="d-inline-block mr-1" class="smaller-text-mobile">{% trans answers %}: {{ question.answers.count }}</p>
            <i class="fa fa-fw fa-chevron-down d-inline-block"></i>
          </div>
        </div>
        <div class="row">
          {% if request.user == question.created_by %}
            <form class="vaalitDeleteKysymysForm"  novalidate method="POST">
              {% csrf_token %}
              <input type="hidden" name="hidden-kysymys-id" value="{{ question.pk }}"/>
              <button type="submit" class="btn btn-outline-danger btn-xs mt-2 mr-2">
                <i class="fas fa-times mr-2"></i>
                {% trans remove %}
              </button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</li>