{% load i18n sekizai_tags %}

<div class="mb-5">
  <h1 class="mb-4" id="landingPageTitle">Vaalit ovat täällä!</h1>
  <p>Tervetuloa Tuotantotalouden kilta Prodeko ry:n sääntömääräiseen vaalikokoukseen! </p>
  <p>Vaalikokouksen ensimmäinen osa: <strong>ma 8.11. klo 17:15-20:00</strong> TU2-salissa. Vaalikokouksen toinen osa: <strong>ma 22.11. klo 16:15-22:00</strong> TU2-salissa.</p>Kokouksiin ei ole mahdollista osallistua etänä.</p>
  <h3 id="nopea-sis-llysluettelo">Nopea sisällysluettelo</h3>
  <ul>
    <li>Kuka voi hakea?    </li>
    <li>Mitä hallitus ja toimarit tekevät?    </li>
    <li>Vaaliajan tapahtumat
    <ul>
      <li> Ma 8.11 klo 17.15-20 Vaalikokous I TU2-sali </li>
      <li> Ti 9.11. klo 17:15-20:00 Toimariesittely    </li>
      <li> Ma 15.11. klo 17:15-20:00 Vaalipaneeli    </li>
      <li> Ma 22.11 klo 16.15-22 Vaalikokous II TU2-sali </li>
      </ul>
    </li>
    <li>Miten haen? - Haku foorumeilla    </li>
    <li>Miten haen? - Haku vaalikokouksessa    </li>
  </ul>
  <br/><h2 id="kuka-voi-hakea-">Kuka voi hakea?</h2>
<p>Vaalikokouksessa ehdolle voi asettua kuka tahansa killan varsinainen jäsen (maksanut killan sekä AYY:n jäsenmaksun). Ainoa asia mitä hallitus- ja toimarivirkoihin hakemiseen vaaditaan, on että sinulla on kiinnostusta ja intoa toimia virassa. <strong>Sinulla ei tarvitse olla aikaisempaa kokemusta kiltahommista - tärkeintä on motivaatio ja aito innostus!</strong> Sinun ei siis tarvitse olla juomanlaskija hakeaksesi isännäksi tai sisä-ja kulttuuriministeriksi, vastuuISO hakeaksi fuksikapteeniksi tai RUKin kurssijuhlan myyntitykki hakeaksesi YS-toimariksi. Myös fuksina voi hakea hallitukseen! Puheenjohtajaehdokkailla on tosin yleensä hyvä olla hieman kokemusta killan hallituksen tai muun vastaavan toiminnasta tehtäväkentän laajuuden takia.</p>
<p>Jos kaverisi hakee virkaan, mikä sinuakin kiinnostaa, hyvä! <strong>Älä jättäydy hakemasta, vain  koska toinen ihminen on ilmaissut kiinnostuksensa samaan virkaan.</strong> Killan ja myös hakijoiden etu on, että hakijat jo ennen vaaleja pääsevät syvemmin pohtimaan kiinnostavan viran sisältöä ja omia tavoitteitaan. Tervehenkinen kilpailu on aina hyväksi, sillä se nostaa kaikkien hakijoiden tasoa! Kannattaa siis rohkeasti hakea tehtävään, mikä sinua itseäsi kiinnostaa! Ei myöskään tarvitse lukittautua vain yhteen virkaan, vaan voi hyvin pohtia useampien välillä ja laittaa ne oman kiinnostuksen mukaan järjestykseen.</p>
<br/><h2 id="mit-hallitus-ja-toimarit-tekev-t-">Mitä hallitus ja toimarit tekevät?</h2>
<p>Tuotantotalouden kilta Prodeko Ry:n toimintaa johtaa yhdistyksen puheenjohtaja ja hallitus. Hallituksen valitsee kilta vaalikokouksessa ja he vastaavat seuraavan vuoden killan toiminnasta ja kehityksestä. Jokaisella hallituslaisella on oma virkansa ja sektorinsa, joiden lisäksi hallituksella on yleisiä tehtäviä ja vastuita. Hallituksen jäsenet istuvat myös AYY:n kokoavissa toimikunnissa, joissa pääsevät tutustumaan muiden kiltojen edustajiin. Killan nettisivuilta ja foorumilta löytyy hallitusviroista vielä enemmän tietoa!</p>
<p>Killan kahtatoista hallituslaista täydentää joka vuosi noin sata toimaria. Toimihenkilövirat ovat luonteeltaan enemmän fokusoituneita yhteen sektoriin ja tehtävään, esimerkiksi webbitiimiin, ulkomaan matkoihin tai vaikka juomanlaskijoihin. Toimihenkilöillä on suuri vapaus ja vastuu omasta tehtävästään ja viroista voi luoda juuri itsensä näköisiä! Toimihenkilöiden ansiosta järjestyvät killan bileet, kulttuuritapahtumat, abimarkkinointitempaukset, it-projektit, vuosijuhlat, kiltalehden artikkelit ja monen moni muu asia. Vaihtoehtoja on monia ja oman mielenkiinnon mukaan voi ryhtyä yhteen tai vaikka useampaan toimarivirkaan. Myös toimariviroista löytyy enemmän tietoa killan nettisivuilta!</p>
<p>Ole ennakkoluulottomasti yhteydessä tämän vuoden hallituslaisiin ja toimareihin! Heiltä saat parhaat tiedot virkojen sisällöstä ja samalla opit killan rakenteesta! Kaikki killan nykyiset hallituslaiset ja toimarit löydät nettisivuilta kohdasta Kilta - Hallitusvirat / Toimarivirat - Hallitus 2021 / Toimarit 2021.</p>
<br/><h2 id="vaaliajan-tapahtumat">Vaaliajan tapahtumat</h2>
<p>Prodeko järjestää vaalikokouksien lisäksi kaksi vaaliajan tapahtumaa, joissa todellakin saat kiltatiedonjanosi täytettyä!</p>
<br/><h4 id="ti-9-11-klo-17-15-20-00-toimariesittely">Ti 9.11. klo 17:15-20:00 Toimariesittely</h4>
<p>Mitä kaikkea killassa on mahdollista tehdä? Mitä ovat vastuutoimarit? Mikä on toimarivaihto? Tule täyttämään tiedonjanosi ja selvitä, kuinka sinä voit lähteä mukaan killan toimintaan vuonna 2022! Paikalla vanhat toimarit kautta aikojen kertovat omia kokemuksiaan toimarihommista ja vastailevat kysymyksiin. Kaikki vanhat toimarit: tervetuloa paikalle kertomaan kiltalaisille siitä ajasta, kun olitte juomanlaskijoita vuonna 2016 tai ulkotoimareita vuonna 2018! Tapahtuma järjestetään Zoomissa ja se on suunnattu koko killalle. Etenkin fukseille tämä tapahtuma on erittäin hyödyllinen!</p>
<br/><h4 id="ma-15-11-klo-17-15-20-00-vaalipaneeli">Ma 15.11. klo 17:15-20:00 Vaalipaneeli</h4>
<p>Oletko päättänyt hakevasi hallitukseen vai oletko vielä kahden vaiheilla? Kenties haluat kuulla ensi vuoden vaalilupauksia ja -teemoja? Vaalipaneelissa ehdokkaat pääsevät esittäytymään ja vastailemaan kiltalaisten kysymyksiin. Paneeli on hyvä tapa harjoitella omaa hakemuspuhettaan sekä keskustella muiden killan toiminnasta kiinnostuneiden kanssa. Treenaa siis puheesi minttiin ja tule kertomaan innostuksestasi ja motivaatiostasi kanssakiltalaisille! Tapahtuma järjestetään Metallimiehenkujan kiltahuoneella ja se on suunnattu koko killalle - hyvää treeniä etenkin hallitukseen hakeville!</p>
<br/><h2 id="miten-haen-haku-foorumeilla">Miten haen? - Haku foorumeilla</h2>
<p>Vaalifoorumi aukeaa puhishakua varten maanantaina 25.10 ja muihin tiistaina 9.11! Kaikki info vaaleista, viroista ja ehdokkaista löytyy osoitteesta <a href="https://vaalit.prodeko.org">https://vaalit.prodeko.org</a>. Palveluun kirjaudutaan omalla prodeko-tunnuksella. Mikäli jokin virka kiinnostaa, voi kyseisen viran sivulle laittaa oman kirjallisen hakemuksensa, jossa esittelee itsensä ja kertoo omista motivaatioista virkaan hakemiseen! Paras hakemus on juuri sinun näköisesi - tärkeintä on, että siinä käy ilmi oma kiinnostuksesi virkaan, pituudella ei ole väliä! </p>
<p>Puhishaun ehdolle asettuminen tapahtuu jo ennen vaalikokousta foorumeilla, jonne hakijat toimittavat kirjallisen hakemuksensa. Muiden virkojen osalta hakemuksen laittaminen foorumille ennen vaalikokousta ei ole välttämätöntä, vaan itse virallinen ehdolle asettuminen tapahtuu vasta toisessa vaalikokouksessa. Kirjallisesta hakemuksesta on kuitenkin itselleen hyötyä omien ajatusten jäsentämisessä, joten sellainen kannattaa rustata foorumeille, kun ne aukeavat hallitus- ja toimarivirkahakuja varten tiistaina 9.11.</p>
<br/><h2 id="miten-haen-haku-vaalikokouksessa">Miten haen? - Haku vaalikokouksessa</h2>
<p>Kokouksissa puheenjohtajahakijoille on varattu esiintymisaikaa 10min ja kysymyksiin 15min per hakija, kuitenkin niin että kysymyksiä esitetään maksimissaan tunnin verran. Puheenjohtajahaussa saa käyttää kalvoja apuna esiintymisessä. </p>
<p>Hallitus- ja toimarihauissa esiintymiskalvojen tai muiden visuaalisten keinojen käyttäminen on kiellettyä. </p>
<p>Hallitushakijoille on varattu 3min esiintymisaikaa ja kysymyksiin 5min per hakija (kyssäreitä yhteensä max 20min). </p>
<p>Toimarihakijoille esiintymisaikaa on 1min ja kysymyksiin 3min per hakija (kyssäreitä yhteensä max 10min). </p>

<p>Tsemppiä hakuun ja hauskaa syksyä!</p>
<p>VaaliJännäJännäterveisin,
Veera</p>
</div>
