{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block extra_head %}
<script src="/static/js/vaalit-custom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="vaaliContainer" class="container-fluid">

	{% include "layout-components/breadcrumb.html" %}
	{% placeholder "content" %}

	<div class="row">
	  <div class="col-md-3 col-12">
			{% include "vaalit_nav.html" %}
		</div>
		<div class="col-md-8 col-12">
			{% include "vaalit_content.html" %}
		</div>
	</div>
</div>

{% endblock content %}
