<p><strong>**In English below**</strong></p>
<p>&nbsp;</p>
<p>Hei, {{ user.first_name }} {{ user.last_name }}!</p>
<p>&nbsp;</p>
<p>Hakemustasi Prodekon j&auml;seneksi ei voitu hyv&auml;ksy&auml;. T&auml;m&auml; voi johtua puutteellisesta tositteesta kahdeksan euron j&auml;senmaksun suorittamisesta. Jos haluat yritt&auml;&auml; liitty&auml; j&auml;seneksi uudelleen tai et tied&auml;, miksi j&auml;senyyshakemuksesi ei mennyt l&auml;pi, ole yhteydess&auml; <a href="mailto:mediakeisari@prodeko.org">mediakeisari@prodeko.org</a>.</p>
<p>&nbsp;</p>
<p><em>Tua Videman</em></p>
<p><em>Mediakeisari 2019</em></p>
<p><em>Tuotantotalouden kilta Prodeko ry</em></p>
<p><em>mediakeisari@prodeko.org | +358 40 419 0307</em></p>
<p><em>TG: @mediakeisari</em></p>
<p>&nbsp;</p>
<p>*****</p>
<p>&nbsp;</p>
<p>Hello, {{ user.first_name }} {{ user.last_name }}!</p>
<p>&nbsp;</p>
<p>Your application to join Prodeko has been rejected. This can be due to lack of membership payment receipt. If you want to try another time or are not sure why your joining application got rejected, please send an email to <a href="mailto:mediakeisari@prodeko.org">mediakeisari@prodeko.org</a>.<span class="Apple-converted-space">&nbsp;</span></p>
<p>&nbsp;</p>
<p><em>Tua Videman</em></p>
<p><em>Minister of Media and Technology 2019</em></p>
<p><em>Guild of Industrial Engineering and Management Prodeko ry</em></p>
<p><em>mediakeisari@prodeko.org | +358 40 419 0307</em></p>
<p><em>TG: @mediakeisari</em></p>
<p>&nbsp;</p>