@import 'variables.scss';

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
  color: $white;
  background-color: $white;
  opacity: 0.8;

  span {
    font-size: 1.6em;
  }

  img {
    max-width: 70%;
    height: auto;
  }
}
