{% load cms_tags sekizai_tags sass_tags i18n staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Tuotantotalouden kilta Prodeko ry{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        {% include "snippets/ga-head.html" %}

        {% render_block "css" %}
        {% render_block "custom-js" %}
        {% render_block "custom-css" %}

        {% comment %} Javascript and SCSS included in separate apps {% endcomment %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% include "snippets/ga-body.html" %}

        {% cms_toolbar %}

        {% include "layout-components/navbar.html" %}
        {% include "other/policy-modal.html" %}
        {% block content %}{% endblock content %}
        {% include "layout-components/footer.html" %}

        {% render_block "js" %}
    </body>
</html>


{% addtoblock "custom-css" %}
<link href="https://fonts.googleapis.com/css?family=Raleway:200,400,600,800" rel="stylesheet">
<link href="{% sass_src 'scss/prodeko-style.scss' %}" rel="stylesheet" type="text/css" />
{% include "snippets/favicongenerator.html" %}
{% include "libraries/bootstrap_scss.html" %}
{% include "libraries/fontawesome.html" %}
{% endaddtoblock %}

{% addtoblock "custom-js" %}
{% include "libraries/jquery.html" %}
{% include "libraries/bootstrap.html" %}
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/policymodal.js' %}"></script>
{% endaddtoblock %}
