{% load cms_tags meta page_meta_tags prodekoorg_tags sekizai_tags sass_tags i18n staticfiles %}

{% page_meta request.current_page as page_meta %}

{% settings_value "TESTING" as is_test %}

<!DOCTYPE html>
<html lang={{LANGUAGE_CODE}}>
    <head {% meta_namespaces %}>
        <meta charset="utf-8">
        {% include "snippets/title.html" %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        {% include "snippets/ga-head.html" %}
        
        {% render_block "css" %}
        {% render_block "custom-js" %}
        {% render_block "custom-css" %}
        
        {% comment %} Javascript and SCSS included in separate apps {% endcomment %}
        {% block extra_head %}{% endblock %}

        {% include 'djangocms_page_meta/meta.html' with meta=page_meta %}
        {% include "snippets/page-alternate-language.html" %}
    </head>
    <body>
        {% include "snippets/ga-body.html" %}

        {% cms_toolbar %}

        {% include "layout-components/navbar.html" %}
        {% include "other/policy-modal.html" %}
        {% block content %}{% endblock content %}

        {# Footer uses namespaced urls that are not available in tests #}
        {% if not is_test %}
            {% include "layout-components/footer.html" %}
        {% endif %}

        {% render_block "js" %}
    </body>
</html>

{% addtoblock "custom-css" %}
    {% include "libraries/raleway.html" %}
    <link href="{% sass_src 'scss/prodeko-style.scss' %}" rel="stylesheet" type="text/css" />
    {% include "snippets/favicongenerator.html" %}
    {% include "libraries/bootstrap-scss.html" %}
    {% include "libraries/fontawesome.html" %}
{% endaddtoblock %}

{% addtoblock "custom-js" %}
    {% include "libraries/jquery.html" %}
    {% include "libraries/bootstrap-js.html" %}
    {% include "libraries/html5shiv.html" %}
{% endaddtoblock %}

{% addtoblock "js" %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/policymodal.js' %}"></script>

    {# Javascript catalog urls are not included in tests #}
    {% if not is_test %}
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    {% endif %}
{% endaddtoblock %}


