{% extends "base.html" %}
{% load cms_tags i18n staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

{% trans "Welcome to Aalto IEM" as welcome1 %}
{% trans "If you are a new student - click here!" as welcome2 %}
{% trans "For high school students" as for_abit %}
{% trans "For guild members" as for_guildmembers %}
{% trans "For alumni" as for_alumni %}
{% trans "For businesses" as for_businesses %}


<div class="container frontpage-headercontainer">
	<div class="carousel-item active">
		<a href="https://www.prodeko.org/fuksit-2">
			<picture>
				<source srcset="{% static 'images/carusellimages/Fuksit_kuvat/fuksit_1400x400.jpg' %}" alt="Carousel-1" class="img-fluid"
				 media="(min-width: 768px)">
				<source srcset="{% static 'images/carusellimages/Fuksit_kuvat/fuksit_800x400.jpg' %}" alt="Carousel-2" class="img-fluid"
				 media="(min-width: 576px)">
				<img srcset="{% static 'images/carusellimages/Fuksit_kuvat/fuksit_600x400.jpg' %}" alt="Carousel-3" class="img-fluid">
			</picture>
		</a>
			<div class="carousel-caption">
				<div>
					<h1>{% trans welcome1 %}</h1>
					<p>{% trans welcome2 %}</p>
				</div>
			</div>
	</div>
	<div class="row frontpage-squarerow">
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 frontpage-square">
			<a href="matrikkeli.prodeko.org">
				<img src="{% static 'images/landing_photos/abeille_smaller.jpg' %}" alt="{% trans for_abit %}" class="img-fluid">
				<div class="mask flex-center frontpage-square-caption">
					<h3>{% trans for_abit %}</h3>
				</div>
			</a>
		</div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 view zoom frontpage-square">
			<a href="matrikkeli.prodeko.org" target="_blank">
				<img src="{% static 'images/landing_photos/kiltalaisille_smaller.jpg' %}" alt="{% trans for_guildmembers %}" class="img-fluid">
				<div class="frontpage-square-caption">
					<h3>{% trans for_guildmembers %}</h3>
				</div>
			</a>
		</div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 frontpage-square">
			<a href="matrikkeli.prodeko.org" target="_blank">
				<img src="{% static 'images/landing_photos/alumneille_smaller.jpg' %}" alt="{% trans for_alumni %}">
				<div class="frontpage-square-caption">
					<h3>{% trans for_alumni %}</h3>
				</div>
			</a>
		</div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 frontpage-square">
			<a href="matrikkeli.prodeko.org" target="_blank">
				<img src="{% static 'images/landing_photos/yrityksille_smaller.jpg' %}" alt="{% trans for_businesses %}">
				<div class="frontpage-square-caption">
					<h3>{% trans for_businesses %}</h3>
				</div>
			</a>
		</div>
  </div>
</div>


<div class="container frontpage-container">
  <div class="row">
    <div class="col-md-7">
      {% placeholder "content" %}
    </div>
    <div class="col-md-5">
			{% include "layout-components/instagram.html" %}
      {% placeholder "sidecontent" %}
    </div>
  </div>
</div>

	<!--
<div class="container-fluid">
  <div class="row frontpage-category-squarerow">
  	<div class="col-md" style="background-image: url({% static 'images/frontpage-square.png' %})">
  		<h2>Kilta</h2>
    </div>
  	<div class="col-md" style="background-image: url({% static 'images/frontpage-square.png' %})">
  		<h2>Fuksit</h2>
    </div>
  	<div class="col-md" style="background-image: url({% static 'images/frontpage-square.png' %})">
  		<h2>Abit</h2>
    </div>
  	<div class="col-md" style="background-image: url({% static 'images/frontpage-square.png' %})">
  	 <h2>Yrityssuhteet</h2>
    </div>
  	<div class="col-md" style="background-image: url({% static 'images/frontpage-square.png' %})">
  	 <h2>Kansainvälisyys</h2>
    </div>
  	<div class="col-md" style="background-image: url({% static 'images/frontpage-square.png' %})">
  	 <h2>Alumni</h2>
  	</div>
  </div>
</div>-->

{% endblock content %}