{% extends "base.html" %}
{% load cms_tags sekizai_tags i18n static %}

{% block extra_head %}
<script src="{% static 'js/instagram.js' %}"></script>
{% endblock %}

{% block content %}
    {% trans "Welcome to Aalto IEM" as welcome1 %}
    {% trans "If you are a new student - click here!" as welcome2 %}
    {% trans "For prospective students" as for_abit %}
    {% trans "For guild members" as for_guildmembers %}
    {% trans "For alumni" as for_alumni %}
    {% trans "For businesses" as for_businesses %}

    <div class="container frontpage-headercontainer">
        <div class="row frontpage-squarerow">
            <div class="col-12 frontpage-square py-sm-0">
                <picture>
                    <source srcset="{% static 'images/frontpage/fuksit_2000x400.jpg' %}" alt="Fuksit-1400x400" class="img-fluid" media="(min-width: 1200px)">
                    <source srcset="{% static 'images/frontpage/fuksit_1400x400.jpg' %}" alt="Fuksit-1400x400" class="img-fluid" media="(min-width: 768px)">
                    <source srcset="{% static 'images/frontpage/fuksit_800x400.jpg' %}" alt="Fuksit-800x400" class="img-fluid" media="(min-width: 576px)">
                    <img srcset="{% static 'images/frontpage/fuksit_600x400.jpg' %}" alt="Fuksit-600x400" class="img-fluid">
                </picture>
                <div class="frontpage-square-caption">
                    <h1>{% trans welcome1 %}</h1>
                </div>
            </div>
            <div class="col-md-3 col-6 frontpage-square">
                <a href="{% page_url 'abit' %}">
                    <img src="{% static 'images/frontpage/abeille.jpg' %}" alt="{% trans for_abit %}" class="img-fluid">
                    <div class="frontpage-square-caption">
                        <h3>{% trans for_abit %}</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-6 frontpage-square">
                <a href="{% page_url 'guild' %}">
                    <img src="{% static 'images/frontpage/kiltalaisille.jpg' %}" alt="{% trans for_guildmembers %}" class="img-fluid">
                    <div class="frontpage-square-caption">
                        <h3>{% trans for_guildmembers %}</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-6 frontpage-square">
                <a href="{% page_url 'alumni' %}">
                    <img src="{% static 'images/frontpage/alumneille.jpg' %}" alt="{% trans for_alumni %}" class="img-fluid">
                    <div class="frontpage-square-caption">
                        <h3>{% trans for_alumni %}</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-6 frontpage-square">
                <a href="{% page_url 'corporate-relations' %}">
                    <img src="{% static 'images/frontpage/yrityksille.jpg' %}" alt="{% trans for_businesses %}" class="img-fluid">
                    <div class="frontpage-square-caption">
                        <h3>{% trans for_businesses %}</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-8">
                {% placeholder "content" %}
            </div>
            <!-- <div class="col-md-4">
                {% include "layout-components/instagram.html" %}
            </div> -->
        </div>
    </div>
{% endblock content %}