body,
html {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: helvetica;
}
.navbar {
  max-width: 100%;
  background-color: #3f51b5;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.75);
}
.navbar-default {
  border: none;
  border-radius: 0px;
}
.navbar-default .navbar-brand {
  color: #fff;
  font-size: 1em;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #c5cae9;
}
.container {
  position: relative;
  left: 0;
  width: 100%;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}
.container.open-sidebar {
  left: 240px;
}

.swipe-area {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 100;
  width: 50px;
  height: 100%;
  height: calc(100% - 50px);
  height: -o-calc(100% - 50px); /* opera */
  height: -webkit-calc(100% - 50px); /* google, safari */
  height: -moz-calc(100% - 50px); /* firefox */
  background: transparent;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}
.swipe-area.open {
  left: 240px;
  width: 0px;
}
#sidebar {
  position: fixed;
  top: 50px;
  left: -240px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 240px;
  height: 100%;
  height: calc(100% - 50px);
  height: -o-calc(100% - 50px); /* opera */
  height: -webkit-calc(100% - 50px); /* google, safari */
  height: -moz-calc(100% - 50px); /* firefox */
  margin: 0px;
  overflow-y: scroll;
  background-color: #eee;
  -webkit-box-shadow: 0.5px 0px 4px 0.5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.5px 0px 4px 0.5px rgba(0, 0, 0, 0.75);
  box-shadow: 0.5px 0px 4px 0.5px rgba(0, 0, 0, 0.75);
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}
#sidebar.open {
  left: 0px;
}
#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#sidebar ul li {
  margin: 0;
}
#sidebar ul li.header {
  font-weight: bold;
  background-color: #ddd;
}
#sidebar ul li.header > p {
  margin: 0px;
  padding: 5px 20px;
  padding-right: 15px;
  padding-left: 10px;
  line-height: 20px;
}
#sidebar ul li a {
  display: block;
  padding: 5px 10px 5px 30px;
  color: #222;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
#sidebar ul li:hover a {
  color: #222;
  background: rgba(255, 255, 255, 0.45);
}
#sidebar ul li a > span {
  margin-left: -25px;
}

.main-content .content {
  width: 100%;
  padding-top: 70px;
}

@media (min-width: 768px) {
  .main-content .content {
    width: calc(100% - 240px);
    width: -o-calc(100% - 240px); /* opera */
    width: -webkit-calc(100% - 240px); /* google, safari */
    width: -moz-calc(100% - 240px); /* firefox */
  }
}
