@import 'variables.scss';
.auth-form {
  width: 100%;
  background-color: $blue;
  text-align: right;
  form {
    width: 100%;
    display: inline-block;
  }
  input[type=username], input[type="password"], button[type=submit], div.user-text {
    padding: 8px 10px;
    margin: 8px 8px 8px 0px;
    max-width: 30%;
    font-size: 16px;
  }
  button[type=submit] {
    background-color: $blue;
    color: #ffffff;
  }
  button[type=submit]:hover {
    cursor: pointer;
    border-radius: 0px;

  }
  div.user-text {
    display: inline-block;
    color: #ffffff;
  }
}
