@import 'variables.scss';

#footer {
  background-color: $white;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  margin-top: 3em;
  padding: 3em 0;
}

#footer span {
  font-size: 1.6em;
}

#footer img {
  max-width: 70%;
  height: auto;
}
