@import "variables.scss";

#footer {
  background-color: $white;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  padding: 3em 0;

  span {
    font-size: 1.6em;
  }

  img {
    max-width: 70%;
    height: auto;
  }
}
