@import 'variables.scss';

.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: show;
  margin: auto;
}

.loader img {
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 10rem;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
