@import "variables.scss";

#main-content {
  background-color: $content-bg;
  overflow-x: hidden;
  max-width: 100%;
  word-wrap: break-word;
  transition-property: margin;
  transition-duration: $sidebar-transition-duration;
  -ms-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;

  &.display-desktop {
    margin-left: $sidebar-width;
  }

  &.display-mobile {
    &.sidebar-open {
      margin-left: $sidebar-width;
      margin-right: -1 * $sidebar-width;
    }

    &.sidebar-closed {
      margin-left: 0;
    }
  }

  h1 {
    text-align: center;
    font-size: 1.6em;
  }

  h2 {
    text-align: center;
    font-size: 1.3em;
  }

  h3 {
    margin-top: 0;
    font-size: 1.2em;
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    font-size: 1.1em;
  }

  .pub-date {
    color: $grey;
    font-size: 0.9em;
    padding-right: 1em;
  }

  .dl-date {
    color: $grey;
    font-size: 0.9em;
    padding-left: 1em;
    border-left: 0.1em solid $grey;
  }
}

#table-of-contents {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;

  ul {
    &.main-list {
      list-style: none;
      padding: 0;
    }

    &.sub-list {
      padding-left: 1.5em;
      list-style-type: square;
    }
  }

  .category-title {
    font-weight: 700;
  }
}
