@import "variables.scss";

#sidebar {
  color: $sidebar-text;
  top: 0;
  position: fixed;
  height: 100%;
  background-color: $sidebar-bg;
  z-index: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: $sidebar-width;
  transition-property: left;
  transition-duration: $sidebar-transition-duration;

  &.open {
    left: 0;
  }

  &.closed {
    left: -$sidebar-width;
  }

  a {
    color: $white;
  }

  a:hover {
    color: $light-grey;
  }

  ul {
    padding: 0;
    list-style: none;
  }
}

#sidebar-content {
  margin: 1rem 0.5rem;
}

.sidebar-category {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}

.sidebar-list-item {
  border-bottom: 1px solid #325482;
  padding: 0.5rem 0;

  &.icon-container {
    font-size: 0.8em;
    color: $light-blue;
    font-weight: bold;
  }
}