$blue: #002851;
$white: #ffffff;
$light-blue: #002e7d;
$grey: #777777;
$light-grey: #9e9e9e;
$matt: #337ab7;
$red: #ff5722;

$content-bg: #fff;
$content-text: #002851;

$sidebar-bg: #002851;
$sidebar-text: #FFFFFF;
$sidebar-width: 260px;

$loader-color: #002851;
