{% extends 'admin/base.html' %} 

{% block content %}
    <div style="margin: 0 auto;">
        <h1>Lataa toimari/hallitustiedot CSV-tiedostosta</h1>
        <form action="{% url 'postcsv' %}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".csv" /> {% csrf_token %} <br />
            <br />
            <button type="submit">Lataa CSV</button>
        </form>
        <br />
        <hr />
        <br />
        <p>
            Tiedoston tulee olla muotoa etunimi;sukunimi;virka;jaosto<br />
            Jaostot täytyy olla luotuna adminissa samalla nimellä ennen tiedoston
            lataamista.
        </p>
    </div>
    <br />
{% endblock %}
