{% extends "base-gallery.html" %}
{% load cms_tags %}

{% block gallery-content %}

{% include "layout-components/jumbotron-gallery.html" %}

<div class="container gallery-container">

	<div class="gallery-breadcrumb">
		{% block breadcrumb %}
		{% endblock breadcrumb %}
	</div>

	<div class="gallery-content">
		{% block content %}
		{% endblock content %}
	</div>
	
	<div style="clear:both"></div>
	
	<div class="gallery-content-related">
		{% block content-related %}
		{% endblock content-related %}
	</div>

	<div style="clear:both"></div>
</div>

{% endblock gallery-content %}