{% extends "base.html" %}
{% load cms_tags %}
{% load menu_tags %}
{% block content %}

<div class="jumbotron jumbotron-fluid content-page-jumbotron">
	<div class="container d-flex h-100 align-items-center">
		<h1 class="display-3">{% block title %}{% page_attribute "page_title" %}{% endblock title %}</h1>
	</div>
</div>


<div class="container page-container">

{% include contentpage/breadcrumb.html" %}

	<div class="row">
		<div class="col-md-8">
			{% placeholder "content" %}
		</div>
		<div class="col-md-4">
			{% placeholder "sidecontent" %}
		</div>
	</div>

</div>
{% endblock content %}
