{% load i18n staticfiles sekizai_tags sass_tags %}

{% trans "Weekly Bulletin - Control Panel" as title %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% trans title %}{% endblock %}</title>

        {% include "libraries/jquery.html" %}
        {% include "libraries/bootstrap-js.html" %}

        {% include "libraries/bootstrap-scss.html" %}
        {% include "libraries/fontawesome.html" %}
        {% include "libraries/sb-admin.html" %}

        {% render_block "css" %}
    </head>

    <body>
        {% include "control/navbar.html" %}

        <div id="wrapper">
            {% include "control/nav.html" %}
            
            {% block body %}{% endblock %}
        </div>

        {% render_block "js" %}
    </body>
</html>

{% addtoblock "css" %}
<link href="{% sass_src 'scss/tiedotteet.scss' %}" rel="stylesheet" type="text/css" />
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{% static 'js/vendor/sb-admin.min.js' %}"></script>
{% endaddtoblock %}