{% extends "control/base.html" %}
{% load i18n %}

{% block body %}
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="pb-2 mt-4 mb-4 border-bottom">
                        {% trans "Edit" %}
                        <small>{% trans "Edit bulletins" %}</small>
                    </h1>
                </div>
            </div>
            {% if messages %}
                <div class="row">
                    {% for key, value in messages.items %}
                        <div class="form-group col-md-12">
                            <h5 class="alert alert-{{ key }}">{{ value }}</h5>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-12">
                    <form role="form" action="" method="post" novalidate>
                        {% csrf_token %}
                        {{ form.media }}

                        {% include 'control/bulletin-form.html' with form=form label="Julkaise" %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}