.card-title {
	margin-bottom: 0px;
}

.tiedostot-list {
	padding-left: 0 px;
	font-size: 0.8rem;
}

.thumbnail-image {
	width: 100%;
	height: 150px;
	background-size: contain;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center center;
}

.full-width {
	width: 100%;
}