.card-title {
  margin-bottom: 0; }

.tiedostot-list {
  padding-left: 0 px;
  font-size: 0.8rem; }

.thumbnail-image {
  width: 100%;
  height: 150px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; }

.full-width {
  width: 100%; }
