{% extends "base.html" %}
{% load cms_tags sekizai_tags i18n sass_tags %}

{% block extra_head %}
<link href="{% sass_src 'scss/auth_prodeko.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

    {% include "layout-components/jumbotron.html" %}

    <div class="container">
        <h1>{% trans "Profile" %}</h1>
        <strong>{% trans "Name" %}: </strong> {{ user.first_name }} {{ user.last_name }} <br />
        <strong>{% trans "Email" %}: </strong> {{ user.email }} <br /> <br />
        <h2>{% trans "Prodeko account" %}</h2>
        <div class="form-wrapper">
            <div class="fieldWrapper">
                <div class='field-input'>
                    <label>{% trans "Email" %}</label>
                    {{ user.email }}
                </div>
            </div>
        <div class="form-group">
          <p>
            {% trans "Your email address, password, name and login details come from your Prodeko account and are changed there." %}
            <a href="https://id.prodeko.org/realms/membership-registry/account/"
               target="_blank" rel="noopener">
              {% trans "Open Prodeko account settings" %}
            </a>
          </p>
        </div>
        </div>
        <br />
    </div>
{% endblock content %}