{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags i18n %}

{% block extra_head %}
<script src="/static/js/app_vaalit-custom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% include "layout-components/jumbotron_small.html" %}

{% trans "Modify application" as modify %}
{% trans "Introduction" as introduction %}

<div class="container">

	{% placeholder "content" %}
	<div class="row">
		<div class="col-9 mx-auto">
      <form id="vaalitModifyApplyForm" novalidate action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        <div class="container-fluid">
          <div class="form-group row">
            <div class="col-sm-6 pl-0">
              <label class="col-form-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
              {{ form.name }}
            </div>
            <div class="col-sm-3">
              {% if form.name.errors %}
                <small class="form-text text-danger">{{ form.name.errors.as_text }}</small>
              {% endif %}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 px-0">
              <label class="col-form-label" for="{{ form.introduction.id_for_label }}">{% trans introduction %}</label>
              {{ form.introduction }}
              {% if form.introduction.errors %}
                <small class="form-text text-danger">{{ form.introduction.errors.as_text }}</small>
              {% endif %}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-9 pl-0">
							<img class="img-preview" src={{ form.instance.pic.url }}/>
							<br />
              {{ form.pic }}
            </div>
            <div class="col-sm-3">
              {% if form.pic.errors %}
                <small class="form-text text-danger">{{ form.pic.errors.as_text }}</small>
              {% endif %}
            </div>
          </div>
          <div class="form-group row mb-0">
            <img class="crop-preview">
          </div>
          <div class="form-group row">
            <div class="col-sm-10 pl-0">
              <button name="submitVirka" type="submit" class="btn btn-primary my-2">{% trans modify %}</button>
            </div>
          </div>
          {% comment %}
            Hidden values used to crop the image and set the correct
            virka foreign key on the submitted ehdokas object
          {% endcomment %}
          <input type="hidden" name="submitVirka" value=""/>
          <input type="hidden" class="input-virka" name="hidden-input-virka" value="{{form.instance.virka}}"/>
          <input type="hidden" id="x" name="hidden-crop-x" value="0"/>
          <input type="hidden" id="y" name="hidden-crop-y" value="0"/>
          <input type="hidden" id="w" name="hidden-crop-w" value="100"/>
          <input type="hidden" id="h" name="hidden-crop-h" value="100"/>
        </div>
      </form>
		</div>
	</div>
</div>
<div id="vaalitModifyApplyModal">

</div>
{% include "vaalit_modal_photocrop.html" %}
{% endblock content %}
