
{% extends "proleko-base.html" %}
{% load sass_tags %}
{% block extra_head %}
    <link href="{% sass_src 'scss/app_proleko_post.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div>
        <div class="post-container">
            <div class="banner-container">
                <img class="banner" src="{{ post.get_thumbnail_image }}" />
                <div class="fade"></div>
            </div>
            <div class="post-content">
                <div class="post-header">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h5 class="post-authors">{{ post.authors }}</h5>
                    <div class="divider"></div>
                    <div class="post-details">
                        <div class="post-timestamp">{{ post.timestamp }}</div>
                        <div class="post-likes">
                            <div class="post-like-icon">
                                <i class="fas fa-heart"></i>
                            </div> 
                        <div class="total-likes">{{ post.total_likes }}</div>
                        </div>
                    </div>
                    <div class="post-ingress">{{ post.ingress}}</div>
                </div>
                <div class="post-body">
                    {% autoescape off %}
                    {{post.content}}
                    {% endautoescape %}
                </div>
            </div>
        </div>
        <div class="post-footer">
            <div class="post-likes">
                <div class="post-like-icon" onclick="post({{ user.id }})">
                    {% if has_liked %}
                        <i id="like_button" class="fas fa-heart"></i>
                    {% else %}
                        <i id="like_button" class="far fa-heart"></i>
                    {% endif %}
                </div> 
                <div class="total-likes">{{ post.total_likes }}</div>
            </div>
        </div>
    </div>
{% endblock content %}