{% load cms_tags menu_tags sekizai_tags sass_tags %}

{% block extra_head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="{% sass_src 'scss/app_proleko.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'scss/app_proleko_posts.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Proleko</h1>
        <div class="posts-container">
        {% for post in posts %}
        <div class="post-outline">
            <div class="post">
                <img class="thumbnail-image" src="{{ post.get_thumbnail_image }}" />
                <div class="post-content">
                    <div class="post-header">
                        <h3 class="post-title">{{ post.title }}</h3>
                        <h5 class="post-authors">{{ post.authors}}</h5>
                        <div class="divider"></div>
                    </div>
                    <div class="post-ingress">{{ post.ingress }}</div>
                    <div class="post-footer">
                        <div class="post-likes">333 {{ post.likes }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}
