{% extends "proleko-base.html" %}
{% load sass_tags %}
{% block extra_head %}
    <link href="{% sass_src 'scss/app_proleko_posts.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}
    <div class="container">
        <div class="posts-container">
        {% for post in posts %}
        <div class="post-outline" style="background: linear-gradient(90deg, {{ post.color1 }}, {{ post.color2 }});">
            <a href="{% url "app_proleko:post" post_id=post.id %}" class="post">
                <img class="post-image" src="{{ post.get_thumbnail_image }}" loading="lazy" />
                <div class="darkener"></div>
                <div class="post-content">
                    <div class="post-header">
                        <h3 class="post-title">{{ post.title }}</h3>
                        <h5 class="post-authors">{{ post.authors}}, {{post.get_date}}</h5>
                        <div class="divider"></div>
                    </div>
                    <div class="post-ingress">{{ post.ingress }}</div>
                    <div class="post-likes">
                        <div class="post-like-icon">
                            {% if has_liked %}
                                <i class="far fa-heart"></i>
                            {% else %}
                                <i class="fas fa-heart"></i>
                            {% endif %}
                        </div> 
                        {{ post.total_likes}}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}
