{% load cms_tags menu_tags sekizai_tags sass_tags staticfiles %}

<!DOCTYPE html>
<html lang={{LANGUAGE_CODE}}>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Proleko</title>
        {% include "snippets/ga-head.html" %}
        
        {% render_block "css" %}
        {% render_block "custom-js" %}
        {% render_block "custom-css" %}
        {% block extra_head %}{% endblock %}
    </head>

    <body>
        {% include "snippets/ga-body.html" %}

        {% cms_toolbar %}
        {% block content %}{% endblock %}
        {% render_block "js" %}
    </body>
</html>

{% addtoblock "custom-css" %}
    <link href="{% sass_src 'scss/app_proleko.scss' %}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{% static 'images/favicons/favicon-32x32.png' %}">
    {% include "libraries/fontawesome.html" %}
{% endaddtoblock %}

{% addtoblock "custom-js" %}
    {% include "libraries/jquery.html" %}
    <script src="{% static 'js/app_proleko.js' %}"></script>
{% endaddtoblock %}