{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list sass_tags static %}

{% block extrastyle %}
    {{ block.super }}
    <script src="{% static 'js/app_poytakirjat-custom.js' %}"></script>
    {% include "libraries/bootstrap-scss.html" %}
    {% include "libraries/fontawesome.html" %}
    <link href="{% sass_src 'scss/app_poytakirjat_admin.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extrahead %}
    {% include "libraries/jquery.html" %}
    {% include "libraries/bootstrap-js.html" %}
    <script>
        $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip({
            html: true,
            title: "<span> \
                    HUOM! JOS LATAAT USEITA PÖYTÄKIRJOJA LATAUKSESSA SAATTAA KESTÄÄ JOPA MINUUTTI! <br /><br /> \
                    Kirjoita ensin kokouskansion folderId. 1. Mene Driven kokoukset kansioon 2. Kopioi urlin FOLDERID (drive/u/1/folders/FOLDERID). \
                    Vuoden 2018 kansion id on jo kentässä valmiina - pyydä mediakeisaria vaihtamaan se mikäli tarve vaatii. <br /><br /> \
                    Klikkaamalla 'Lataa pöytäkirjat Drivestä' 'Kokoukset'-kansiossa olevat pöytäkirjat latautuvat Driven API:n avulla. \
                    Vain pöytäkirjat joita ei ole alla olevassa listassa ladataan. Pöytäkirjojen manuaalinen lisäys onnistuu painamalla 'Lisää pöytäkirja'.<br /><br /> \
                    Pöytäkirjan tulee olla Driven kansiossa, joka on nimetty seuraavasti: järjestysnumero_pp.kk.yyyy \
                    (esim. 08_19.3.2018 tai 35_12.10.2018 - huom! Kuukaudessa ei saa olla edessä 0). Järjestysnumerossa tulee olla edessä 0.<br /><br /> \
                    Pöytäkirjan tulee olla Google Docs muodossa (ei .docx tai .pdf) ja nimetty alkaen 'Pöytäkirja' (esim. Pöytäkirja_04).\
                    Liitteet tulee nimetä alkaen 'LIITE' (esim. LIITE1_laskuliite, LIITE2_esitys-x). Liitteitä voi olla useita.<br /><br /> \
                    LIITE-sanan jälkeen tuleva järjestysnumero määrää missä järjestyksessä liitteet lisätään lopulliseen pdf-tiedostoon.\
                    Pöytäkirja ja liitteet ladataan ja yhdistetään yhdeksi pdf-tiedostoksi ja ne tulevat automaattisesti sivustolle näkyviin. \
                    </span>"
        });
        })
    </script>
    {{ block.super }}
    {{ media.js }}
{% endblock %}

{% block messages %}
    {% if messages %}
        <ul class="messagelist">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissable fade show" role="alert" style="margin-top:0.5rem;margin-bottom:0.5rem;">
                    {{ message }}
                    <a type="button" class="close" data-bs-dismiss="alert"><i class="fas fa-times"></i></a>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock messages %}

{% block object-tools-items %}

    {% trans "Download minutes from Drive" as download %}
    {% trans "How does this work" as how_does_it_work %}

    <li>
        <form id="folderIdForm" method="POST" action="{% url 'admin:download_docs_from_gsuite' %}">
            {% csrf_token %}
            <input name="folderID" type="text" class="form-control input-folderid" value ="1tO87_WxVyov6b7MPfvVg1BTsk-AFX1hn">
        </form>
    </li>
    <li>
        <a id="download-button" type="submit" onclick="document.getElementById('folderIdForm').submit()" href="#">
            {% trans download %}
            <i class="ml-2 fas fa-download"></i>
        </a>
    </li>
    <li>
        <a id="download-instructions" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom">
            {% trans how_does_it_work %}
            <i class="ml-2 fas fa-question"></i>
        </a>
    </li>
    {{ block.super }}
{% endblock %}