@import '../../../static/scss/variables.scss';

.toimari {
  float: left;
  width: 150px;
  margin: 5px 5px 10px 10px;
  border: 1px solid #ccc;

  img {
    width: 100%;
    height: auto;
  }

  .description {
    padding: 7px;
    font-size: 0.85rem;
    text-align: center;
  }

  strong {
    color: $blue-dark;
    font-size: 1rem;
  }
}

#hallituskuva {
  img {
    display: block;
    margin: 0 auto;
  }
}

.boardMember {
  float: left;
  width: 350px;
  margin: 5px;
  border: 1px solid #ccc;

  .description {
    margin: 10px;
    font-size: 0.9rem;
  }

  strong {
    color: $blue-dark;
    font-size: 1.1rem;
  }
}
