.toimari {
  float: left;
  width: 150px;
  margin: 5px 5px 10px 10px;
  border: 1px solid #ccc; }
  .toimari img {
    width: 100%;
    height: auto; }
  .toimari .description {
    padding: 7px;
    font-size: 0.85rem;
    text-align: center; }
  .toimari strong {
    color: #002851;
    font-size: 1rem; }

#hallituskuva img {
  display: block;
  margin: 0 auto; }

.boardMember {
  float: left;
  width: 350px;
  margin: 5px;
  border: 1px solid #ccc; }
  .boardMember .description {
    margin: 10px;
    font-size: 0.9rem; }
  .boardMember strong {
    color: #002851;
    font-size: 1.1rem; }
