@import '../../../static/scss/variables.scss';
@import '../../../static/scss/breakpoints-mixin.scss';
@import 'app_toimarit_hallitus.scss';
@import 'app_toimarit_collapse.scss';

.toimari {
  float: left;
  width: 170px;
  margin: 5px;

  @include smallphone {
    width: 130px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.description {
  padding: 7px;
  font-size: 0.85rem;
  text-align: center;
  word-wrap: break-word;
}

strong {
  color: $blue-dark;
  font-size: 1rem;
}

.section-header {
  @include phone {
    font-size: 1.5rem;
    text-align: center;
    word-wrap: break-word;
  }
}
