{% extends 'ar_base.html' %}
{% load static %}

{% block body %}

<section id="frontpage" class="bg">

  <div id="frontpagePanel" class="container" style="width:100%;">
    <img src="{% static 'alumnirekisteri_images/prodeko.png' %}" id="prodeko-logo" class="img-responsive" alt="Prodeko">
	   <p class="values">Think Big &ensp; – &ensp; Get Things Done &ensp; – &ensp; Learn and Grow<br>Give Back &ensp; – &ensp; Be A Good Person</p>
     <p style="text-align: center;"><a href="https://www.prodeko.org/tietosuoja/">Prodekon tietosuojakäytäntö</a></p>
  </div>
</section>
{% endblock %}
