{% extends "ar_base.html" %}

{% block body %}


<div class="bg">
<div class="container">
    <div class="row">
      <div class="col col-md-8 col-md-offset-2 text-center" style="margin-top:30vh;">
          <h3>Salasanan nollausviesti lähetetty.</h3>
          <a href="{% url 'alumnirekisteri:login' %}"><button class="btn btn-primary" style="margin-top:10px;width: 200px;">Kirjautuminen</button></a>
      </div>
    </div>
</div>
    <div class="container footer footer-blue">
      <div class="row" style="padding-top:15px;">
        <div class="col-md-2 col-md-offset-2 contact-info">
          <p>Käyttäjäongelmat ja bugit: <br><a href="mailto:mediakeisari@prodeko.org">mediakeisari@prodeko.org</a></p>
        </div>
        <div class="col-md-2 contact-info">
          <p>Jäsenille: <br><a href="mailto:hallitus@prodeko.org">hallitus@prodeko.org</a></p>
        </div>
        <div class="col-md-2 contact-info">
          <p>Alumnille: <br><a href="mailto:alumnirekisteri@prodeko.org">alumnirekisteri@prodeko.org</a></p>
        </div>
        <div class="col-md-2 contact-info" align="right" style="margin-bottom:12px;">
          <a href="https://www.linkedin.com/company-beta/16188688/"><img src="../static/images/linkedin.png" style="width:30px;"/></a>
          <a href="https://www.facebook.com/prodeko/"><img src="../static/images/facebook.png" style="width:30px;"/></a>
          <a href="https://www.instagram.com/prodeko/"><img src="../static/images/instagram.png" style="width:30px;"/></a>
        </div>
      </div>
    </div>

</div>

{% endblock %}
