{% extends "ar_base.html" %}

{% block body %}


<div class="bg">
<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-default" >
      <div class="panel-heading">
        <div class="panel-title">Nollaa salasana</div>
      </div>
      <div class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form id="loginform" class="form-horizontal" role="form" method="post" action="{% url 'password_reset' %}">
          <span style="text-align:center;margin-bottom:20px;">Jos et muista rekisteröimääsi sähköpostiosoitetta, ota yhteys: <br><a href="mailto:alumnirekisteri@prodeko.org">alumnirekisteri@prodeko.org</a> (Prodeko Alumni)<br><a href="mailto:mediakeisari@prodeko.org">mediakeisari@prodeko.org</a> (Prodekon jäsenistö)</span>
          {% if form.non_field_errors %}
          <div class="alert alert-danger">
            {% for key, value in form.errors.items %}
              {{ value }}
            {% endfor %}
          </div>
          {% endif %}
          {% csrf_token %}
          <div style="margin-bottom: 18px; margin-top:20px;" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i>  Sähköposti</span>
            <input class="form-control" id="id_email" maxlength="254" name="email" type="email">
          </div>
          {% if form.email.errors %}
          <div class="alert alert-danger">
            {{ form.email.errors }}
          </div>
          {% endif %}
          <div style="margin-top:10px" class="form-group">
            <!-- Button -->
            <div class="col-sm-12 controls">
              <input id="btn-login" type="submit" value="Nollaa salasana" class="btn btn-primary"></input>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
    <div class="container footer footer-blue">
      <div class="row" style="padding-top:15px;">
        <div class="col-md-2 col-md-offset-2 contact-info">
          <p>Käyttäjäongelmat ja bugit: <br><a href="mailto:mediakeisari@prodeko.org">mediakeisari@prodeko.org</a></p>
        </div>
        <div class="col-md-2 contact-info">
          <p>Jäsenille: <br><a href="mailto:hallitus@prodeko.org">hallitus@prodeko.org</a></p>
        </div>
        <div class="col-md-2 contact-info">
          <p>Alumnille: <br><a href="mailto:alumnirekisteri@prodeko.org">alumnirekisteri@prodeko.org</a></p>
        </div>
        <div class="col-md-2 contact-info" align="right" style="margin-bottom:12px;">
          <a href="https://www.linkedin.com/company-beta/16188688/"><img src="../static/images/linkedin.png" style="width:30px;"/></a>
          <a href="https://www.facebook.com/prodeko/"><img src="../static/images/facebook.png" style="width:30px;"/></a>
          <a href="https://www.instagram.com/prodeko/"><img src="../static/images/instagram.png" style="width:30px;"/></a>
        </div>
      </div>
    </div>
</div>

{% endblock %}
