{% extends "ar_base.html" %}

{% block body %}
<div class="bg">
<div class="container">
  <div id="reset-password" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-default" >
      <div class="panel-heading">
        <div class="panel-title">Vaihda salasana</div>
      </div>
      <div class="panel-body" >
        <form id="password_reset" class="form-horizontal" role="form" method="post">
            {% csrf_token %}
            <div class="form-group text-center">
                <div class="col-md-12 control">
                    <div style="margin-bottom: 15px" class="form-horizontal">
                        <div class="form-group">
                            <label for="{{ id_new_password1 }}" class="col-md-3 control-label" style="text-align: right;">Uusi salasana</label>
                            <div class="col-md-9 text-left">
                                <input class="form-control" id="id_new_password1" name="new_password1" type="password">
                                {% if form.new_password1.errors %}
                                <div class="alert alert-danger">
                                    {{ form.new_password1.errors }}
                                </div>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                    <div style="margin-bottom: 15px" class="form-horizontal">
                        <div class="form-group">
                            <label for="{{ id_new_password2 }}" class="col-md-3 control-label" style="text-align: right;">Toista salasana</label>
                            <div class="col-md-9 text-left">
                                <input class="form-control" id="id_new_password2" name="new_password2" type="password">
                                {% if form.new_password2.errors %}
                                <div class="alert alert-danger" style="margin-top: 10px;">
                                    {{ form.new_password2.errors }}
                                </div>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <input type="submit" value="Vaihda salasana" class="btn btn-success btn-block"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">Ei tunnusta?<a href="{% url 'alumnirekisteri:register' %}"> Rekisteröidy täällä.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
