@import 'variables';
@import 'breakpoints-mixin';

.field-application_actions,
.deletelink-box {
  a.btn-accept-membership {
    color: white !important;
    background-color: $green !important;
    border: 1px solid $green !important;

    &:hover,
    &:active,
    &:focus {
      color: white !important;
      background-color: darken($green, 5%) !important;
      border: 1px solid $green !important;
    }
  }

  a.btn-reject-membership {
    color: white !important;
    background-color: $red !important;
    border: 1px solid $red !important;

    &:hover,
    &:active,
    &:focus {
      color: white !important;
      background-color: darken($red, 5%) !important;
      border: 1px solid $red !important;
    }
  }
}

#container div.breadcrumbs {
  a {
    color: $override-admin-blue !important;

    &:hover,
    &:active {
      color: lighten($override-admin-blue, 15%) !important;
    }
  }
}

.dashboard {
  #container {
    #content-main {
      table {
        th {
          a {
            color: $override-admin-blue;

            &:hover,
            &:active {
              color: lighten($override-admin-blue, 15%) !important;
            }
          }
        }
        td {
          a.addlink {
            color: $override-admin-green;
          }

          a.changelink {
            color: $override-admin-blue;

            &:hover,
            &:active {
              color: lighten($override-admin-blue, 15%) !important;
            }
          }
        }
      }
    }
  }
}

.cms-btn {
  background-color: $blue-dark !important;
}

.djangocms-admin-style .submit-row input[type='submit'].default {
  background-color: $blue-dark !important;
  border: 1px solid $blue-dark !important;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($override-admin-blue, 5%) !important;
    border: solid 1px $override-admin-blue !important;
  }
}

input[type='submit'] {
  background-color: white;
  border: 1px solid black;
}

.cms-pagetree {
  &.cms-pagetree-header {
    .cms-pagetree-header-cell {
      button.cms-pagetree-header-search-btn {
        background: $override-admin-blue !important;
      }

      .cms-btn-action {
        background-color: $override-admin-blue !important;
        border: 1px solid $override-admin-blue !important;
      }
    }
  }

  .cms-pagetree-node-state-published {
    background: $override-admin-green;
    background-color: $override-admin-green;
    border: none;
  }
  .cms-pagetree-node-state-dirty {
    background: $override-admin-blue;
    background-color: $override-admin-blue;
    border: none;
  }

  .cms-tree-item-menu {
    .cms-icon-check-square::before {
      color: green;
    }
  }

  &.cms-pagetree-legend {
    .cms-pagetree-legend-title-wrap {
      .cms-icon {
        color: $override-admin-blue;
      }
    }
  }
}

#page_form_lang_tabs input.current,
#page_form_lang_tabs input.selected,
.parler-language-tabs span.current,
.parler-language-tabs span.selected {
  color: $override-admin-blue !important;
  border-bottom: solid 3px $override-admin-blue !important;
}

.change-list #changelist table tbody th a,
.change-list #changelist table tbody th a:link,
.change-list #changelist table {
  color: $override-admin-blue !important;
}

#content #content-main .object-tools a.addlink,
.object-tools .viewsitelink {
  background-color: $override-admin-blue !important;
  border: solid 1px $override-admin-blue !important;

  &:hover {
    background-color: darken($override-admin-blue, 5%) !important;
    border: solid 1px $override-admin-blue !important;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: darken($override-admin-blue, 5%) !important;
    border: solid 1px $override-admin-blue !important;
  }
}

.change-list #changelist #changelist-filter li.selected a {
  color: $override-admin-blue !important;
}

.change-list #changelist-search input[type='submit'] {
  background-color: $override-admin-blue !important;
  border: solid 3px $override-admin-blue !important;
}

.selector a.selector-chooseall.active::before,
span.datetimeshortcuts a::before {
  color: $override-admin-blue !important;
}

body.login.djangocms-admin-style
  #container
  #content
  #content-main
  .submit-row
  input,
body.login.djangocms-admin-style
  #container
  #content
  #content-main
  .submit-row
  input[type='submit'] {
  background-color: $override-admin-blue !important;
  border: solid 3px $override-admin-blue !important;
}

body.login.djangocms-admin-style {
  background: white !important;
}

form {
  span.datetimeshortcuts a {
    color: #454545 !important;

    &:hover,
    &:active {
      color: #454545 !important;
    }
  }

  a,
  a:link {
    color: $override-admin-blue !important;

    &:hover,
    &:active {
      color: lighten($override-admin-blue, 15%) !important;
    }
  }
}

#change-history tr.selected,
.change-list table tr.selected,
.dashboard table tr.selected,
.results table tr.selected,
.tabular table tr.selected {
  background: lighten($override-admin-blue, 40%) !important;
}

body.login.djangocms-admin-style #container {
  min-width: 280px !important;
  overflow: auto !important;

  @include phone {
    margin-top: 70px;
  }
}

body.login.djangocms-admin-style #container #content #content-main .submit-row {
  @include phone {
    margin-bottom: 10px;
  }
}

.delete-confirmation {
  .colM input[type='submit'] {
    background-color: $override-admin-blue !important;
    border: 1px solid $override-admin-blue !important;
  }

  a {
    color: $override-admin-blue !important;
  }
}
