$phone-width: 640px;
$tablet-width: 768px;
$desktop-width: 992px;
$largedesktop-width: 1200px;

/*
 * Usage: @include tablet {}
 */

@mixin smallphone {
  @media (max-width: #{$phone-width - 1px}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin underdesktop {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$largedesktop-width - 1px}) {
    @content;
  }
}

@mixin largedesktop {
  @media (min-width: #{$largedesktop-width}) {
    @content;
  }
}
