/*
Overriding bootstrap default stlyes.
*/

/*
Prodekon vaaleansininen: #0053a0
Prodekon keskisininen: #002e7d
Prodekon tummansininen: #002851
*/

.btn {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #002e7d;
    border-color: #002e7d;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus {
    background-color: #b12321;
    border-color: #b12321;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
    background-color: #5a8246;
    border-color: #5a8246;
}

.btn-light,
.btn-light:hover,
.btn-light:active,
.btn-light:visited,
.btn-light:focus {
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}

.nav-link {
    color: rgba(0,0,0,.65);
}

.form-control{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.alert {
  width: 90%;
  text-align: center;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.card {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
  box-shadow: 0 2px 3px rgba(0,0,0,0.19);
}
