@import 'variables.scss';

.content-page-jumbotron {
  .jumbotron {
    height: 25vh;
    background-image: url('/static/images/backgrounds/content-page-bg-blue.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @include phone {
      height: 100px;
    }

    h1 {
      color: white;
      font-size: 3.5rem;
      max-width: 500px;

      @include tablet {
        font-size: 3rem;
        max-width: 300px;
      }

      @include phone {
        font-size: 2.5rem;
        max-width: 300px;
      }

      @include smallphone {
        font-size: 1.5rem;
        max-width: 200px;
      }
    }
  }

  @include underdesktop {
    padding-top: $nav-height-mobile !important;
  }
}

.page-container {
  padding: 2.5em 2em 2.5em 2em;

  h1 {
    margin: 1em 0 0.8em 0;
    font-size: 2em;
    text-transform: uppercase;

    @include phone {
      font-size: 1.5em;
      letter-spacing: 1px;
    }

    @include tablet {
      font-size: 2em;
    }
  }

  h2,
  h3 {
    margin-top: 0.6em;
    margin-bottom: 0.8em;
  }

  img {
    max-width: 100%;

    .align-left {
      float: left;
    }

    .align-center {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }

    .align-right {
      float: right;
    }

    .img-40 {
      max-width: 40em;
    }

    .img-30 {
      max-width: 30em;
    }

    .img-20 {
      max-width: 20em;
    }

    .img-10 {
      max-width: 10em;
    }

    .img-5 {
      max-width: 5em;
    }
  }

  ul:not(.page-breadcrumb):not(#sidenav) {
    margin: 0;
    padding: 0 0 0 1.5em;
    list-style-type: none;
  }

  @include underdesktop {
    padding-top: $nav-height-mobile + 15px;
  }
}

.page-breadcrumb {
  padding-left: 0;
  list-style-type: none;

  li {
    display: inline;

    a {
      color: $blue-dark;
    }
  }
}
