.content-page-jumbotron {
	background-image: url('/static/images/backgrounds/content-page-bg-blue.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 30vh;
	margin-bottom: 0;

	h1 {
		color: white;
	}
}

.page-container {
	padding: 2.5em 2em 2.5em 2em;

	h1 {
		margin-bottom: 0.8em;
		text-transform: uppercase;
		font-size: 2em;
		font-weight: normal;
		margin-top: 0.5em;
	}

	h2, h3 {
		margin-top: 0.6em;
		margin-bottom: 0.8em;
	}

	p {
		padding-left: 1em;
	}

	img {
		max-width: 100%;

		.align-left {
			float: left;
		}

		.align-center {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.align-right {
			float: right;
		}

		.img-40 {
			max-width: 40em;
		}

		.img-30 {
			max-width: 30em;
		}

		.img-20 {
			max-width: 20em;
		}

		.img-10 {
			max-width: 10em;
		}

		.img-5 {
			max-width: 5em;
		}
	}

	ul:not(.page-breadcrumb):not(#sidenav) {
		list-style-type: none;
		padding: 0 0 0 1.5em;
		margin: 0;
	}

	ul:not(.page-breadcrumb):not(#sidenav) li::before {
		content: "–";
		padding-right: 1em;
	}

	@include phone {
		h1, h1.display-1 {
			font-size: 3.0rem;
		}
	}

	@include tablet {
		h1, h1.display-1 {
			font-size: 4.5rem;
		}
	}

	@include desktop {
		.img.cms-plugin.cms-plugin-7 {
			max-height: 400px;
			background-size: cover;
			display: block;
		}
	}
}

.page-breadcrumb {
	list-style-type: none;
	padding-left: 0;

	li {
		display: inline;

		a {
			color: #002851;
		}
	}
}

.page-navigation-menu {
	font-family: Raleway, Helvetica, sans-serif;
	padding-left: 0;

	li {
		list-style: none;
	}
}