@import 'breakpoints_mixin.scss';
@import 'variables.scss';

.prodeko-footer {
  margin: 0 auto;
  padding-top: 3rem;
  padding-right: 0;
  padding-bottom: 2rem;
  padding-left: 0;
  color: white;
  font-family: Raleway, Helvetica, sans-serif;
  background-color: $blue-dark;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  @include phone {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  a {
    color: white;
    font-weight: bold;

    &:hover {
      color: rgb(230, 230, 230);
      transition: 0.1s ease-out;
    }
  }

  h2,
  p {
    font-size: 0.9rem;
  }

  .network-div {
    flex: 1 0 20%;
    height: 65px;
    margin: 10px;

    img {
      max-width: 100px;

      @include phone {
        max-width: 70px;
      }
    }

    @include smallphone {
      height: 50px;
    }

    @include phone {
      margin: 20px;
    }

    @include tablet {
      margin: 20px;
    }
  }

  .social-row {
    a {
      margin: 1.5rem;
    }

    .fab {
      font-size: 50px;

      @include phone {
        font-size: 40px;
      }
    }
  }
}
