@import 'breakpoints_mixin.scss';
@import 'instagram.scss';
@import 'variables.scss';

.frontpage-headercontainer {
  padding-top: 1.5rem;

  @include underdesktop {
    padding-top: $nav-height-mobile + 10px;
  }
}

.frontpage-squarerow {
  padding: 0 7.5px;

  @include phone {
    padding: 0 12.5px;
  }

  .frontpage-square {
    padding: 1rem 0.5rem;

    @include phone {
      padding: 2.5px 2.5px;
    }

    @include tablet {
      padding: 0.5rem 7.5px;
    }

    img {
      width: 100%;
    }

    .frontpage-square-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h1 {
        color: white;
        font-weight: 900;
        font-size: 2rem;
        letter-spacing: 2px;
        text-align: center;
        text-shadow: $frontpage-img-text-shadow;
      }

      h3 {
        color: white;
        font-weight: 900;
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-align: center;
        text-shadow: $frontpage-img-text-shadow;

        @include phone {
          font-size: 0.95rem;
        }

        @include tablet {
          font-size: 0.8rem;
        }

        @include desktop {
          font-size: 1rem;
        }
      }
    }
  }
}

.frontpage-container {
  padding: 2rem;

  h2 {
    .frontpage-container h3 {
      margin-top: 0.6rem;
      margin-bottom: 0.8rem;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }
}
