@import "breakpoints_mixin.scss";
@import "instagram.scss";

$frontpage-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

.frontpage-headercontainer {
  /*
  Forces image to be 100% width and not max width of 100%
  */
  .carousel-item {
    .img-fluid {
      width: 100%;
    }

    a {
      display: block;
      width: 100%;
    }
  }

  .carousel-caption h1 {
    color: white;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 2px;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.71);

    @include phone {
      font-size: 0.9rem;
    }

    @include tablet {
      font-size: 1.5rem;
    }
  }
}

.frontpage-squarerow {
  padding: 0 7.5px;

  @include phone {
    padding: 0 12.5px;
  }

  .frontpage-square {
    padding: 1rem 0.5rem;
    -webkit-transition: $frontpage-transition;
    transition: $frontpage-transition;

    @include phone {
      padding: 2.5px 2.5px;
    }

    @include tablet {
      padding: 0.5rem 7.5px;
    }

    &::after {
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      -webkit-transition: $frontpage-transition;
      transition: $frontpage-transition;
    }

    &:hover {
      -webkit-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05);

      &::after {
        opacity: 1;
      }
    }

    img {
      width: 100%;
    }

    .frontpage-square-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h3 {
        color: white;
        font-weight: 900;
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-shadow: -1px 2px 10px rgba(150, 150, 150, 1);

        @include phone {
          font-size: 0.9rem;
        }

        @include tablet {
          font-size: 1rem;
        }
      }
    }
  }
}

.frontpage-container {
  padding: 3rem 2rem 3rem 2rem;

  h2 {
    .frontpage-container h3 {
      margin-top: 0.6rem;
      margin-bottom: 0.8rem;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }
}
