@import 'breakpoints_mixin.scss';
@import 'instagram.scss';
@import 'variables.scss';

.frontpage-headercontainer {
  padding-top: 1.5rem;
  /*
  Forces image to be 100% width and not max width of 100%
  */
  .carousel {
    padding-bottom: 2.5px;

    .carousel-item {
      .img-fluid {
        width: 100%;
      }

      a {
        display: block;
        width: 100%;
      }
    }

    .carousel-caption h1 {
      color: white;
      font-weight: 900;
      font-size: 2rem;
      letter-spacing: 2px;
      text-shadow: $frontpage-img-text-shadow;
      font-size: 1.5rem;
    }
  }

  @include underdesktop {
    padding-top: $navbar-height-mobile;
  }
}

.frontpage-squarerow {
  padding: 0 7.5px;

  @include phone {
    padding: 0 12.5px;
  }

  .frontpage-square {
    padding: 1rem 0.5rem;
    transition: $frontpage-transition;

    @include phone {
      padding: 2.5px 2.5px;
    }

    @include tablet {
      padding: 0.5rem 7.5px;
    }

    &::after {
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      transition: $frontpage-transition;
    }

    &:hover {
      -webkit-transform: scale(1.03, 1.03);
      transform: scale(1.03, 1.03);

      &::after {
        opacity: 1;
      }
    }

    img {
      width: 100%;
    }

    .frontpage-square-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h3 {
        color: white;
        font-weight: 900;
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-shadow: $frontpage-img-text-shadow;

        @include phone {
          font-size: 1.3rem;
        }

        @include tablet {
          font-size: 0.8rem;
        }

        @include desktop {
          font-size: 1rem;
        }
      }
    }
  }
}

.frontpage-container {
  padding: 2rem;

  h2 {
    .frontpage-container h3 {
      margin-top: 0.6rem;
      margin-bottom: 0.8rem;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }
}
