@import 'variables.scss';

body {
  #cms-top + nav {
    #navbar-mobile {
      max-height: calc(100vh - #{$cms-toolbar-height});
    }
  }
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.align-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
