@import 'variables.scss';

#navbar-full {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

  #navbar-logo {
    width: 40px;
    height: 40px;
  }

  .auth-btn {
    max-width: 160px;
  }

  .nav-item {
    font-size: 20px;
  }

  .nav-link {
    line-height: 1.1;
    cursor: pointer;
  }

  .profile-icon {
    color: $blue-dark;
    font-size: 25px;

    &:hover {
      color: darken($blue-dark, 5%);
    }
  }
}

#navbar-mobile {
  position: fixed;
  z-index: 9999;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

  a.level-0 {
    color: black;
  }

  [data-bs-toggle~='collapse'] {
    cursor: pointer;
  }

  #navbar-logo {
    height: 40px;
  }

  .navbar-toggler {
    border-color: white;
  }

  .caret-container {
    .fa-caret-up {
      color: rgba(0, 0, 0, 0.75);
      font-size: 1rem;
      transform: rotate(90deg);
      transition: all 0.3s ease-in-out;
    }

    &.collapsed {
      .fa-caret-up {
        transform: rotate(180deg);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .link {
    font-size: 1rem;
  }

  .profile-container {
    font-size: 1.2rem;

    .profile-icon {
      width: 100%;
      font-size: 20px;
    }
  }
}

.lang-picker {
  font-weight: bold;
  font-size: 1.2rem;

  .lang {
    text-decoration: underline;
  }
}

.auth-btn {
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
