/* SIDENAV */

@import 'variables.scss';

#sidenav {
  list-style-type: none;
  background-color: $blue-dark;
  padding: 1em;
  min-height: 15em;
  min-width: 15em;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 1rem;

  a {
    color: lightgrey;
    text-transform: uppercase;
    &:hover {
      color: white;
    }
  }

  .sidemenu-collapsable {
    padding-left: 0;
    line-height: 50%;
    justify-content: center;
  }

  .sidenav-highlink {
    font-weight: bold;
    line-height: 200%;
  }
}
