@import 'variables.scss';

#sidenav {
  position: sticky;
  top: 20px;
  display: flex;
  justify-content: center;
  min-width: 15em;
  min-height: 10em;
  padding: 1em;
  list-style-type: none;
  background-color: $blue-dark;

  a {
    color: rgb(230, 230, 230);
    text-transform: uppercase;

    &:hover {
      color: white;
    }
  }

  .sidemenu-collapsable {
    justify-content: center;
    padding-left: 0;
  }

  .sidenav-highlink {
    font-weight: bold;
  }
}
