/* SIDENAV */

@import 'variables.scss';

#sidenav {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 15em;
  min-height: 10em;
  padding: 1em;
  list-style-type: none;
  background-color: $blue-dark;

  a {
    color: lightgrey;
    text-transform: uppercase;

    &:hover {
      color: white;
    }
  }

  .sidemenu-collapsable {
    justify-content: center;
    padding-left: 0;
    line-height: 50%;
  }

  .sidenav-highlink {
    font-weight: bold;
    line-height: 200%;
  }
}
