@import "variables.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $blue-light;
  font-weight: semi-bold;
  font-family: Raleway, Helvetica, sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-weight: 600;
  font-size: 1rem;
  text-transform: none;
}

.uppercase {
  text-transform: uppercase;
}

.font-raleway {
  font-family: Raleway, Helvetica, sans-serif;
}
