@import 'variables.scss';

h1, h2, h3, h4, h5, h6, display-1, display-2, display-3, display-4, display-5, display-6 {
	font-family: Raleway, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: semi-bold;
	color: $blue-light;
}

h1 {
	font-size: 2.5rem;
	letter-spacing: 5px;
}

h2 {
	font-size: 2.0rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.0rem;
}

h5 {
	font-size: 1.0rem;
	text-transform: none;
	font-weight: 600;
}

.uppercase {
	text-transform: uppercase;
}

.font-raleway {
	font-family: Raleway, Helvetica, sans-serif;
}