{% load staticfiles %}

<div class="banner">
    <div class="banner-background">
        <video autoplay muted loop id="banner-video">
            <source src="{% static 'lifelonglearning/videos/lifelonglearning.webm' %}" type="video/webm">
        </video>
        <div class="bottom-gradient"></div>
    </div>
    <div class="banner-content">
        <div class="banner-text">
            <h1 class="white ok-spacing">Lifelong Learning</h1>
            <h4 class="lightgrey no-top">by Prodeko</h4>
            <h5 class="white">
                Maailma muuttuu koko ajan kiihtyvällä tahdilla. Vaikka tällä hetkellä muutos tuntuu äärimmäisen nopealta, todellisuudessa
                <b>se ei ikinä enää tule olemaan niin hidasta, kuin se on nyt</b>. Tehostamalla omaa oppimistamme mahdollistamme sen, että voimme
                tulevaisuudessakin olla viemässä Suomea ja suomalaisia yrityksiä eteenpäin kehityksen kärjessä.
            </h5>
            <br>
            <a class="btn btn-success registration center" href="#courses">Ilmoittaudu sessioihin</a>
        </div>
    </div>
</div>