{% load staticfiles %}

<nav class="navbar-expand-lg" id="navbar">
    <a class="navbar-brand">
        <img id="logo" src="{% static 'lifelonglearning/images/headerlogo.png' %}" alt="Prodeko logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#lll-navbar" aria-controls="lll-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars white"></i>
    </button>
    <div class="collapse navbar-collapse" id="lll-navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#id-tulevat-kurssit">Tulevat kurssit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#id-menneet-kurssit">Menneet kurssit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#id-ideologia">Ideologia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#id-osaaminen">Päivitä osaamisesi</a>
            </li>
        </ul>
    </div>
</nav>