@import '../../../static/scss/breakpoints_mixin.scss';

#application-done {
    text-align: center;
}

#form-apply-wrapper {
    font-size: 1em;
    
    #payment-info {
        margin: 2em 0 2em 1em;

        ul {
            margin: 0;
            padding: 0;
        }
    }
    
    .receipt-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;

        input[type="file"] {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }

        .btn {
            color: white;
            padding: 6px 15px;
            background-color: #277027;
            font-weight: bold;
        }
    }
}