@import "../../../static/scss/breakpoints_mixin.scss";

#application-done {
  text-align: center;

  img {
    max-width: 60%;
    display: block;
    margin: 0 auto 2.5em auto;
  }

  @include phone {
    img {
      max-width: 90%;
      display: block;
      margin: 0 auto 1.5em auto;
    }
  }
}

#form-apply-wrapper {
  font-size: 1em;

  .fa-minus-square {
    font-size: 25px;
    color: rgb(141, 31, 31);
    vertical-align: middle;
  }

  .receipt-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;

    input[type="file"] {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }

    .btn {
      color: white;
      padding: 6px 15px;
      background-color: #277027;
      font-weight: bold;
    }
  }
}
