/*
 * Usage: @include tablet {}
 */
#application-done,
#application-error {
  text-align: center; }
  #application-done img,
  #application-error img {
    max-width: 60%;
    display: block;
    margin: 0 auto 2.5em auto; }
  @media (max-width: 767px) {
    #application-done img,
    #application-error img {
      max-width: 90%;
      display: block;
      margin: 0 auto 1.5em auto; } }

#form-apply-wrapper {
  font-size: 1em; }
  #form-apply-wrapper .fa-minus-square {
    font-size: 25px;
    color: #8d1f1f;
    vertical-align: middle; }
  #form-apply-wrapper input[type="checkbox"] {
    transform: scale(1.3); }
  #form-apply-wrapper .receipt-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block; }
    #form-apply-wrapper .receipt-btn-wrapper input[type="file"] {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0; }
    #form-apply-wrapper .receipt-btn-wrapper .btn {
      color: white;
      padding: 6px 15px;
      background-color: #277027;
      font-weight: bold; }
