@import '../../../prodekoorg/static/scss/breakpoints_mixin.scss';

#login-form {
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    label {
        display: block;
        width: 100%;
      }

    input {
        display: block;
        width: 100%;
    }    

    button {
        display: block;
        width: 100%;
    }   

    .form-group {
        margin-bottom: 0;
    }

    @include phone {
        max-width: 98%;
    }

    @include tablet {
        max-width: 70%;
    }
}

.card {
    margin: 7em auto;
    float: none;
    width: 50%;

    @include phone {
        margin: 1em auto;
        width: 98%;
    }

    @include tablet {
        margin: 4em auto;
        width: 80%;
    }
}