/*
 * Usage: @include tablet {}
 */
/*
 * Usage: @include tablet {}
 */
.container-error h1 {
  padding: 100px;
  font-weight: 900;
  font-size: 7em;
  text-align: center; }

#policy-error a {
  padding: 6px 15px;
  color: white;
  font-weight: bold;
  background-color: #277027; }

#policy-error img {
  display: block;
  max-width: 50%;
  margin: 0 auto 2.5em auto; }

@media (max-width: 767px) {
  #policy-error img {
    display: block;
    max-width: 90%;
    margin: 0 auto 1.5em auto; } }

.login-card {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }

#login-form {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 0 auto; }
  @media (max-width: 767px) {
    #login-form {
      max-width: 98%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #login-form {
      max-width: 70%; } }
  #login-form label {
    display: block;
    width: 100%; }
  #login-form input {
    display: block;
    width: 100%; }
  #login-form button {
    display: block;
    width: 100%; }
  #login-form .form-group {
    margin-bottom: 0; }

.header-logo {
  width: 50%;
  margin: 5em 0 2em 0; }
  @media (max-width: 767px) {
    .header-logo {
      width: 98%;
      margin: 1em 0 1em 0; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .header-logo {
      width: 80%; } }
  .header-logo img {
    display: block;
    margin: auto; }

.card {
  width: 50%; }
  @media (max-width: 767px) {
    .card {
      width: 98%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .card {
      width: 80%; } }
  .card .centered {
    text-align: center; }

.form-wrapper .fieldWrapper .field-input {
  display: inline-block;
  margin: 2px;
  padding: 3px;
  width: 20rem;
  height: 3rem; }
  .form-wrapper .fieldWrapper .field-input input {
    display: block;
    margin-bottom: 5px;
    font-size: 14pt;
    line-height: 1.2em;
    border: none;
    border-bottom: 1.5px solid gray;
    outline: none;
    padding: 0.25rem;
    width: 100%;
    height: 100%; }
  .form-wrapper .fieldWrapper .field-input label {
    display: block;
    color: #002e7d;
    font-size: 12px;
    margin-top: 1.5rem; }

.form-wrapper .fieldWrapper .field-error {
  display: inline-block;
  color: red;
  font-size: 12px; }

.form-wrapper .other-errors {
  margin: 5px;
  color: red;
  font-size: 14px; }

.form-wrapper input[type='submit'] {
  margin: 3rem 0rem;
  padding: 10px 30px;
  color: white;
  background-color: #002e7d;
  border: none; }
