/*
 * Usage: @include tablet {}
 */
#login-form {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  @media (max-width: 767px) {
    #login-form {
      max-width: 98%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    #login-form {
      max-width: 70%; } }
  #login-form label {
    display: block;
    width: 100%; }
  #login-form input {
    display: block;
    width: 100%; }
  #login-form button {
    display: block;
    width: 100%; }
  #login-form .form-group {
    margin-bottom: 0; }

.header-logo {
  width: 50%;
  margin: 5em 0 2em 0; }
  @media (max-width: 767px) {
    .header-logo {
      width: 98%;
      margin: 1em 0 1em 0; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .header-logo {
      width: 80%; } }
  .header-logo img {
    display: block;
    margin: auto; }

.card {
  width: 50%; }
  @media (max-width: 767px) {
    .card {
      width: 98%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .card {
      width: 80%; } }
  .card .centered {
    text-align: center; }

.form-wrapper .fieldWrapper .field-input {
  display: inline-block;
  padding: 3px;
  margin: 2px; }
  .form-wrapper .fieldWrapper .field-input input {
    outline: none;
    border: none;
    display: block;
    line-height: 1.2em;
    font-size: 14pt;
    border-bottom: 1.5px solid gray;
    margin-bottom: 5px; }
  .form-wrapper .fieldWrapper .field-input label {
    display: block;
    font-size: 12px;
    color: #002e7d; }

.form-wrapper .fieldWrapper .field-error {
  color: red;
  display: inline-block;
  font-size: 12px; }

.form-wrapper .other-errors {
  margin: 5px;
  color: red;
  font-size: 14px; }

.form-wrapper input[type="submit"] {
  margin: 15px 2px;
  background-color: #002e7d;
  border: none;
  color: white;
  padding: 10px 30px; }
