@import '../../../prodekoorg/static/scss/breakpoints_mixin.scss';

#login-form {
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    label {
        display: block;
        width: 100%;
      }

    input {
        display: block;
        width: 100%;
    }    

    button {
        display: block;
        width: 100%;
    }   

    .form-group {
        margin-bottom: 0;
    }

    @include phone {
        max-width: 98%;
    }

    @include tablet {
        max-width: 70%;
    }
}

.header-logo {
    width: 50%;
    margin: 5em 0 2em 0;

    @include phone {
        width: 98%;
        margin: 1em 0 1em 0;
    }

    @include tablet {
        width: 80%;
    }

    img {
        display: block;
        margin: auto;
    }
}

.card {
    width: 50%;

    .centered {
        text-align: center;
    }

    @include phone {
        width: 98%;
    }

    @include tablet {
        width: 80%;
    }
}