{% load cms_tags menu_tags sekizai_tags sass_tags i18n static %}
<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <title>Prodeko-seminaari | Tuotantotalouden kilta Prodeko ry</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% include "snippets/ga-head.html" %}

        {% render_block "custom-js" %}
        {% render_block "css" %}
        {% render_block "custom-css" %}

        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% include "snippets/ga-body.html" %}

        {% cms_toolbar %}

        {% block content %}{% endblock %}

        {% render_block "js" %}
    </body>
</html>


{% addtoblock "custom-css" %}
    {% include "libraries/sentry.html" %}
    {% include "libraries/raleway.html" %}
    <link href="{% sass_src 'seminaari/scss/seminaari.scss' %}" rel="stylesheet" type="text/css" />
    {% include "snippets/favicongenerator.html" %}
    {% include "libraries/bootstrap-scss.html" %}
    {% include "libraries/fontawesome.html" %}
{% endaddtoblock %}

{% addtoblock "custom-js" %}
    {% include "libraries/jquery.html" %}
    {% include "libraries/bootstrap.html" %}
    {% include "libraries/html5shiv.html" %}
{% endaddtoblock %}