{% extends "base-seminaari.html" %} 
{% load staticfiles i18n %}
 {# TEE SEMINAARIN SIVUT MYÖS ENGLANNIKSI! #} 
{% trans "Ilmoittaudu!" as signup %}
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous"
/>

{% block body %}

<!--
      <video autoplay muted loop id="banner-video">
        <source src="{% static 'video_banner_720p.webm' %}" type="video/webm">
      </video>
      
-->
<div id="scrollToTop"><i class="fas fa-arrow-circle-up"></i></div>

<div id="content">
  <div class="banner" style="background-image: url({% static 'img/semmanettisivutausta.png' %})">
    <img
      src="{% static 'img/semmasivuteksti_ilmanpvm.png' %}"
      class="seminaari-logo"
      alt="Responsive image"
    />
<!--
    <img
      src="{% static 'img/semmanettisivutausta.png' %}"
      type="image/png"
      class="img-fluid banner-image"
      alt="Responsive image"
    /> 
    -->
    <div class="banner-content">
      <h1 class="white ok-spacing">5.4.2019</h1>
      <br />
      <i class="fab fa-facebook-square"></i>
      <a href="https://www.facebook.com/events/2320633134677418/">
        Seuraa tapahtumaa Facebookissa</a
      >
      <i onclick="$('html, body').animate({scrollTop: $('#first').offset().top}, 1000);" class="fas fa-angle-down"></i>
    </div>
  </div>

  <div class="white-block">
    <div class="container">
      <div id="first" class="section">
        <h2>Prodeko-yhteisön kärkitapahtuma</h2>
        <p>
          Jokavuotinen tapahtuma kokoaa yhteen Aalto-yliopiston tuotantotalouden
          laitoksen, alumnin ja opiskelijat. Tänä vuonna juhlapäivää vietetään
          perjantaina 5. huhtikuuta Otaniemessä ja laadukas ohjelma puheineen,
          työpajoineen ja paneelikeskusteluineen kiteytyy pohtimaan
          merkityksellisen liiketoiminnan mahdollisuuksia ja haasteita
          erilaisista näkökulmista.
        </p>
        <p>
          Prodeko-seminaari järjestettiin seminaarimuodossan ensimmäisen kerran
          Prodekon 50-vuotisjuhlavuonna 2016. Sitä ennen Prodeko-yhteisön keräsi
          vuosien ajan yhteen toukokuinen grillailuilta, jonka peruja
          nykyisenlainen seminaarikin on. Kevään 2019 seminaari on
          järjestyksessään neljäs, ja tapahtuma toteutetaan vapaaehtoisvoimin
          yhteistyössä laitoksen, alumnin ja kiltalaisten kanssa. Erinomaisten
          puhujien ja yhteisön arvoja heijastelevan sisällön lisäksi seminaari
          tarjoaa mahdollisuuden koota yhteen ystävät omilta opiskeluajoilta ja
          pysyä mukana tuotantotalouden ajankohtaisista tutkimusaiheista ja
          liike-elämän polttavista kysymyksistä.
        </p>
        <p>
          Lipunmyynti tapahtumaan avataan helmikuussa. Lisätietoja myöhemmin.
        </p>
      </div>
      <div id="courses">
        {% if courses %}
        <hr />
        <h2 class="center">Päivän ohjelma</h2>
        {% endif %} {% for course in courses %}
        <a href="{% url 'lifelonglearning:coursepage' course.id %}">
          <div class="col-md-6">
            <div class="course">
              <div
                class="course-banner"
                style="background-image: url('{{ course.get_banner_image }}')"
              >
                <div class="bottom-gradient"></div>
              </div>
              <div class="course-text">
                <h3>{{ course.name }}</h3>
                {% if course.coaches %}
                <p class="addition clear">
                  Valmentajat: <span class="black">{{ course.coaches }}</span>
                </p>
                {% endif %} {% if course.groupsize %}
                <p class="addition">
                  Kurssikoko: <span class="black">{{ course.groupsize }}</span>
                </p>
                {% endif %} {% if course.timing %}
                <p class="addition">
                  Ajankohta: <span class="black">{{ course.timing }}</span>
                </p>
                {% endif %}
                <hr />
                <div class="course-ingress">
                  <p>{% autoescape off %}{{ course.description | truncatechars:400 | safe }}{% endautoescape %}</p>
                  <div class="read-more">
                    <p class="read-more-text">Lue lisää...</p>
                  </div>
                </div>
                <a
                  class="btn btn-success btn-block registration"
                  href="{{ course.registration }}"
                  >Ilmoittaudu</a
                >
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>

      <div id="second" class="section">
        <h2>Puhujat ja diskussantit</h2>
        <p>Puhujat julkaistaan tällä sivulla myöhemmin.</p>
      </div>

      <div id="third" class="section">
        <h2>Päivän ohjelma</h2>

        <p>
          <br />Ajat ja ohjelma tarkentuvat myöhemmin.
          <br />
          <br />
          <i>Kandidaattikeskus (myös Päälafkaksi kutsuttu), Otakaari 1</i>
          <br />
          <br />12:30 Tervetuloa <br />12:40 Avauspuheenvuoro
          <br />
          12:50 - 16:30 Puheita, työpajoja ja paneelikeskustelu, sis. kahvitauko
          <br />
          <br /><i>Väre, Otaniementie 12</i>
          <br />
          <br />17:00 Cocktail-tilaisuus alkaa <br />18:30 Päivällinen
          <br />21:30 Kuljetus jatkoille
        </p>
      </div>
      <div id="fourth" class="section">
        <h2>Seminaaritiimin esittely</h2>

        <p>Tänä vuonna Prodeko-seminaaria ovat tekemässä:</p>
        <p>
          Timo Moilanen, Mary-Ann Alftan, Risto Rajala, Perttu Nihti, Christine
          Korjus, Maria Haukka, Sara Ikonen, Matias Hynönen, Tua Videman, Teemu
          Mikola ja Niko Kinnunen
        </p>
        <p>
          Kiltalaisten haku seminaaritiimiin on vuosittain marraskuussa ja
          valinnat tehdään killan toisessa vaalikokouksessa.
        </p>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="social center white">
    <h3 class="center ok-spacing">
      <a href="https://www.facebook.com/prodeko/"
        ><i class="fab fa-facebook"></i
      ></a>
      <a href="https://www.instagram.com/prodeko/"
        ><i class="fab fa-instagram"></i
      ></a>
      <a
        href="https://www.linkedin.com/company/prodeko-guild-of-industrial-engineering-and-management/"
        ><i class="fab fa-linkedin"></i
      ></a>
    </h3>
    <hr />
    <a href="https://www.prodeko.org"><p>Tuotantotalouden Kilta Prodeko</p></a>
    <a href="https://alumni.prodeko.org"><p>Prodekon Alumni</p></a>
    <a href="http://tuta.aalto.fi"
      ><p>Aalto-yliopiston tuotantotalouden laitos</p></a
    >
  </div>
</footer>

{% endblock %}
