{% extends "base-seminaari.html" %} 
{% load cms_tags menu_tags static i18n %}

{% block content %}
    <div class="banner" style="background-image: url(https://prodekostorage.blob.core.windows.net/static/seminaari/images/Semmabanneri1342021.png)">
        <img 
            src="https://prodekostorage.blob.core.windows.net/static/seminaari/images/Semmabanneri134.png"
            class="seminaari-logo"
            alt="Prodeko-seminaari"
        />
        <div class="banner-content">
            <!-- <h1 class="white ok-spacing">17.4.2020</h1>
            <br />
            <i class="fab fa-facebook-square"></i>
            <a href="https://www.facebook.com/events/181370469597108/">
                Follow the event on Facebook!
            </a> -->
        </div>
        <i onclick="$('html, body').animate({scrollTop: $('#first').offset().top}, 1000);" class="fas fa-angle-down"></i>
    </div>

    {% placeholder "content" %}

    <footer>
        <div class="social center white">
            <h3 class="center ok-spacing">
                <a href="https://www.facebook.com/prodeko/">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/prodeko/">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/company/prodeko-guild-of-industrial-engineering-and-management/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </h3>
            <hr />
            <a href="https://www.prodeko.org"><p>Tuotantotalouden Kilta Prodeko</p></a>
            <a href="https://alumni.prodeko.org"><p>Prodekon Alumni</p></a>
            <a href="http://tuta.aalto.fi">
                <p>Aalto-yliopiston tuotantotalouden laitos</p>
            </a>
        </div>
    </footer>
{% endblock content %}
