html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: #666;
  width: 100% !important;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #666;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 0px;
  padding: 20px 0px;
}

h3 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0px;
  padding: 0px;
}

h4 {
  margin: 10px;
  padding: 10px;
  font-size: 1.5rem;
}

h5 {
  margin: 0px;
  padding: 10px;
  font-size: 1.2rem;
  line-height: 25px;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}


.white {
  color: white;
}

.black {
  color: black;
  font-weight: 600;
}

.center {
  text-align: center;
}

.ok-spacing {
  letter-spacing: 6px;
}

.link {
  color: lightblue;
}

.link:hover {
  text-decoration: underline;
}


/* === NAVBAR === */

#logo {
  height: 30px;
}



/* === BANNER === */

.banner {
  margin-top: -100px;
  display: block;
  width: 100%;
  height: auto;
  background-color: blue;
  text-align: center;
  margin-bottom: 0px;
}

.banner-text {
  margin: 0px auto;
  margin-top: 100px;
  padding: 50px 10px;
  width: 100%;
  max-width: 1000px;
  height: auto;
  color: white;
  text-align: center;
}

.section {
  margin: 50px 0;
}


/* === COURSE FEED === */

.course {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-bottom: 20px;
}

.course-banner {
  background-color: blue;
  width: 100%;
  height: 150px;
}

.course-text {
  padding: 20px;
}

.registration {
  padding: 15px 45px;
}

/* === FOOTER === */

footer {
  margin-top: 100px;
  width: 100%;
  height: 200px;
  background-color: blue;
}


/* === BOOTSTRAP === */

.col-md-6 {
  padding: 10px;
}
