#download-button {
    color: white !important;
    background-color: green !important;
    border: 1px solid green !important;
    border-radius: 15px !important;
    min-width: 202px;
}

#download-instructions {
    color: white !important; 
    background-color: #626262 !important;
    border: 1px solid #626262 !important; 
    border-radius: 15px !important
}

.loader {
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
    border-radius: 50%;
	width: 20px;
	height: 20px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}