#folderIdForm {
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important; }

#download-button {
  min-width: 202px;
  color: white !important;
  text-align: center;
  background-color: green !important;
  border: 1px solid green !important;
  border-radius: 15px !important; }

#download-instructions {
  color: white !important;
  background-color: #626262 !important;
  border: 1px solid #626262 !important;
  border-radius: 15px !important; }

.loader {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite; }

.tooltip-inner {
  max-width: 700px;
  text-align: left; }

.object-tools > li {
  float: left !important; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
