{% extends "ar_base.html" %}
{% load static %}

{% block body %}

<section id="membership-status" class="bg">
  <div class="container">
    <div class="row">
      <div class="col col-md-8 col-md-offset-2" align="center">
        <img src="data:image/png;base64,{{ qr_code }}">
        <div class="panel panel-default">
          <h1>{{ name }}</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading ">
            Membership information
          </div>
          <div class="panel-body">
            {% for key, value in membership_data %}
            <div class="row">
              <label class="col col-md-3 control-label">{{ key }}</label>
              <div class="col-md-9">
                {{ value }}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div align="center">

      {% if should_pay %}
      <h2>You have not paid your membership fee for the next year!</h2>
      <stripe-buy-button buy-button-id="buy_btn_1NqG91BXFu7VMnhUnfNfFKlG"
        publishable-key="pk_live_sqMB9UbyLIXgHJ4exCAQkhlw00V81yfQ6S" customer-email="{{ email }}"
        client-reference-id="{{ person_id }}">
      </stripe-buy-button>
      {% elif is_expired %}
      <h2>Your membership has expired</h2>
      {% else %}
      <h2>You have paid your membership fee for the next year!</h2>
      {% endif %}
    </div>
  </div>
</section>

<div style="height:50px;width:100%;"></div> <!-- Makes page long enough to see behind footer -->

<script type="text/javascript" src="{% static 'js/simple_crop.js' %}"></script>
<script async src="https://js.stripe.com/v3/buy-button.js">
</script>
{% endblock %}