<footer>
    <div class="social center white">
        <h3 class="center ok-spacing">
            <a href="https://www.facebook.com/prodeko/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/prodeko/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/prodeko-guild-of-industrial-engineering-and-management/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Prodeko/"><i class="fab fa-github"></i></a>
        </h3>
        <hr>
        <div>
            <a class="mb-4" href="https://www.prodeko.org"><p>Tuotantotalouden Kilta Prodeko</p></a>
        </div>
    </div>
</footer>