{% extends "admin/change_form.html" %}
{% load i18n %}

{% block submit_buttons_bottom %}

{% trans "Accept application" as accept %}
{% trans "Reject application" as reject %}

{{block.super}}

<div class="submit-row" align="left">
	<p class="deletelink-box" style="padding-right: 10px;"><a href="{% url 'admin:application-accept' original.id %}" class="btn">{% trans accept %}</a></p>
	<p class="deletelink-box"><a href="{% url 'admin:application-reject' original.id %}" class="btn">{% trans reject %}</a></p>
</div>

 
{% endblock %}